.backdrop.reverse-color {
  color: #fefefe; }
  .backdrop.reverse-color:before, .backdrop.reverse-color:after {
    background-color: #0a0a0a;
    background-position: center;
    background-size: cover;
    color: #fefefe; }
