ul.menu {
  background: inherit !important; }
  ul.menu li {
    background: inherit; }
  ul.menu a {
    background: inherit;
    color: inherit;
    font-family: inherit; }
  ul.menu .is-active > a {
    background: #1779ba;
    color: #fefefe; }

.is-drilldown {
  background: inherit; }

.is-drilldown-submenu {
  background: inherit; }

ul.menu.drilldown .is-drilldown-submenu-parent > a {
  position: relative; }
  ul.menu.drilldown .is-drilldown-submenu-parent > a::after {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 1rem;
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-right-width: 0;
    border-left-style: solid;
    border-color: transparent transparent transparent #fefefe; }

ul.menu.drilldown.align-left .is-drilldown-submenu-parent > a::after {
  left: auto;
  right: 1rem;
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  content: '';
  border-right-width: 0;
  border-left-style: solid;
  border-color: transparent transparent transparent #fefefe; }

ul.menu.drilldown.align-right .is-drilldown-submenu-parent > a::after {
  right: auto;
  left: 1rem;
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  content: '';
  border-left-width: 0;
  border-right-style: solid;
  border-color: transparent #fefefe transparent transparent; }

.js-drilldown-back > a::before {
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  content: '';
  border-left-width: 0;
  border-right-style: solid;
  border-color: transparent #fefefe transparent transparent;
  border-left-width: 0;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.75rem;
  border-left-width: 0; }

ul.menu.dropdown li.is-active a {
  background: inherit;
  color: inherit; }

ul.menu.dropdown.horizontal > li > a::after {
  right: 14px; }

ul.menu.dropdown.horizontal > li.opens-left > a::after {
  right: auto;
  left: 5px;
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  content: '';
  border-left-width: 0;
  border-right-style: solid;
  border-color: transparent #fefefe transparent transparent; }

ul.menu.dropdown.horizontal > li.opens-right > a::after {
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  content: '';
  border-right-width: 0;
  border-left-style: solid;
  border-color: transparent transparent transparent #fefefe; }

ul.menu.dropdown.vertical > li > a::after {
  right: 14px; }

ul.menu.dropdown.vertical > li.opens-left > a::after {
  right: auto;
  left: 5px;
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  content: '';
  border-left-width: 0;
  border-right-style: solid;
  border-color: transparent #fefefe transparent transparent; }

ul.menu.dropdown.vertical > li.opens-right > a::after {
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  content: '';
  border-right-width: 0;
  border-left-style: solid;
  border-color: transparent transparent transparent #fefefe; }

@media print, screen and (min-width: 45em) {
  ul.menu.dropdown.medium-horizontal > li.opens-left > .is-dropdown-submenu {
    top: 100%;
    right: 0;
    left: auto; }
  ul.menu.dropdown.medium-horizontal > li.opens-right > .is-dropdown-submenu {
    top: 100%;
    right: auto;
    left: 0; }
  ul.menu.dropdown.medium-horizontal > li.is-dropdown-submenu-parent > a {
    position: relative;
    padding-right: 1.5rem; }
  ul.menu.dropdown.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #fefefe transparent transparent;
    right: 5px;
    left: auto;
    margin-top: -3px; }
  ul.menu.dropdown.medium-vertical > li .is-dropdown-submenu {
    top: 0; }
  ul.menu.dropdown.medium-vertical > li.opens-left > .is-dropdown-submenu {
    right: 100%;
    left: auto;
    top: 0; }
  ul.menu.dropdown.medium-vertical > li.opens-right > .is-dropdown-submenu {
    right: auto;
    left: 100%; }
  ul.menu.dropdown.medium-vertical > li > a::after {
    right: 14px; }
  ul.menu.dropdown.medium-vertical > li.opens-left > a::after {
    right: auto;
    left: 5px;
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-left-width: 0;
    border-right-style: solid;
    border-color: transparent #fefefe transparent transparent; }
  ul.menu.dropdown.medium-vertical > li.opens-right > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-right-width: 0;
    border-left-style: solid;
    border-color: transparent transparent transparent #fefefe; } }

@media print, screen and (min-width: 67.5em) {
  ul.menu.dropdown.large-horizontal > li.opens-left > .is-dropdown-submenu {
    top: 100%;
    right: 0;
    left: auto; }
  ul.menu.dropdown.large-horizontal > li.opens-right > .is-dropdown-submenu {
    top: 100%;
    right: auto;
    left: 0; }
  ul.menu.dropdown.large-horizontal > li.is-dropdown-submenu-parent > a {
    position: relative;
    padding-right: 1.5rem; }
  ul.menu.dropdown.large-horizontal > li.is-dropdown-submenu-parent > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #fefefe transparent transparent;
    right: 5px;
    left: auto;
    margin-top: -3px; }
  ul.menu.dropdown.large-vertical > li .is-dropdown-submenu {
    top: 0; }
  ul.menu.dropdown.large-vertical > li.opens-left > .is-dropdown-submenu {
    right: 100%;
    left: auto;
    top: 0; }
  ul.menu.dropdown.large-vertical > li.opens-right > .is-dropdown-submenu {
    right: auto;
    left: 100%; }
  ul.menu.dropdown.large-vertical > li > a::after {
    right: 14px; }
  ul.menu.dropdown.large-vertical > li.opens-left > a::after {
    right: auto;
    left: 5px;
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-left-width: 0;
    border-right-style: solid;
    border-color: transparent #fefefe transparent transparent; }
  ul.menu.dropdown.large-vertical > li.opens-right > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-right-width: 0;
    border-left-style: solid;
    border-color: transparent transparent transparent #fefefe; } }

.is-dropdown {
  background: inherit; }

.is-dropdown-submenu {
  border: none;
  background: inherit; }
  .is-dropdown-submenu .is-dropdown-submenu-parent > a::after {
    right: 14px; }
  .is-dropdown-submenu .is-dropdown-submenu-parent.opens-left > a::after {
    right: auto;
    left: 5px;
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-left-width: 0;
    border-right-style: solid;
    border-color: transparent #fefefe transparent transparent; }
  .is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-right-width: 0;
    border-left-style: solid;
    border-color: transparent transparent transparent #fefefe; }

.menu.social-share li {
  fill: #fefefe; }
  .menu.social-share li.facebook {
    background-color: #3b5998; }
  .menu.social-share li.github {
    background-color: #000000; }
  .menu.social-share li.google-plus {
    background-color: #db3236; }
  .menu.social-share li.instagram {
    background-color: #8a3ab9; }
  .menu.social-share li.linkedin {
    background-color: #0077b5; }
  .menu.social-share li.pinterest {
    background-color: #bd081c; }
  .menu.social-share li.rss {
    background-color: #ff6600; }
  .menu.social-share li.snapchat {
    background-color: #fffc00; }
  .menu.social-share li.snapchat {
    background-color: #fffc00; }
  .menu.social-share li.tumblr {
    background-color: #32506d; }
  .menu.social-share li.twitter {
    background-color: #00aced; }
  .menu.social-share li.whatsapp {
    background-color: #4dc247; }
  .menu.social-share li.youtube {
    background-color: #bb0000; }
