.layer.header {
  color: #fefefe;
  background-color: #0a0a0a;
  fill: #fefefe; }

.layer.footer {
  color: #0a0a0a;
  background-color: #cacaca;
  fill: #0a0a0a; }

.layer.boilerplate {
  color: #0a0a0a;
  background-color: #cacaca;
  fill: #0a0a0a; }
