
// Foundation dependencies
@import 'foundation-sites/_vendor/normalize-scss/sass/normalize';
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/helpers/missing-dependencies';
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/helpers/true';
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/functions/contain';
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/functions/purge';
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/functions/remove';
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/functions/replace';
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/functions/to-list';

// Foundation utilities.
@import 'foundation-sites/scss/util/util';

// Alkaline utilities
@import 'util/mixins';

// Semantic colors
$theme-palette: (
  primary: #1779ba, // Required.
  secondary: #ccb6b6,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
) !default;

// Greyscale
$white: #fefefe !default;
$light-gray: #e6e6e6 !default;
$medium-gray: #cacaca !default;
$dark-gray: #8a8a8a !default;
$black: #0a0a0a !default;

// Brand Colours
$facebook-blue: #3b5998;
$facebook-medium-blue: #6d84b4;
$facebook-lighter-blue: #afbdd4;
$facebook-lightest-blue: #d8dfea;
$github-black: #000000;
$google-green: #3cba54;
$google-yellow: #f4c20d;
$google-red: #db3236;
$google-blue: #4885ed;
$instagram-purple-violet: #8a3ab9;
$instagram-blue: #4c68d7;
$instagram-maroon: #cd486b;
$instagram-orange: #fbad50;
$instagram-yellow: #fccc63;
$instagram-red-violet: #bc2a8d;
$instagram-red-orange: #e95950;
$linkedin-blue: #0077b5;
$pinterest-red: #bd081c;
$rss-orange: #ff6600;
$snapchat-yellow: #fffc00;
$tumblr-dark-turquoise: #32506d;
$twitter-logo-blue: #00aced;
$twitter-dark-blue: #0084b4;
$twitter-verified-blue: #1dcaff;
$twitter-background-blue: #c0deed;
$whatsapp-green: #4dc247;
$youtube-red: #bb0000;

@mixin brand-colors($rule) {
  &.facebook    { #{$rule}: $facebook-blue; }
  &.github      { #{$rule}: $github-black; }
  &.google-plus { #{$rule}: $google-red; }
  &.instagram   { #{$rule}: $instagram-purple-violet; }
  &.linkedin    { #{$rule}: $linkedin-blue; }
  &.pinterest   { #{$rule}: $pinterest-red; }
  &.rss         { #{$rule}: $rss-orange; }
  &.snapchat    { #{$rule}: $snapchat-yellow; }
  &.snapchat    { #{$rule}: $snapchat-yellow; }
  &.tumblr      { #{$rule}: $tumblr-dark-turquoise; }
  &.twitter     { #{$rule}: $twitter-logo-blue; }
  &.whatsapp    { #{$rule}: $whatsapp-green; }
  &.youtube     { #{$rule}: $youtube-red; }
}

// $foundation-palette required for get-color()
$foundation-palette: $theme-palette;

// Semantic color variables used by Foundation
$primary-color: get-color(primary);
$secondary-color: get-color(secondary);
$success-color: get-color(success);
$warning-color: get-color(warning);
$alert-color: get-color(alert);

@if not map-has-key($foundation-palette, primary) {
  @error 'In $foundation-palette, you must have a color named "primary".';
}

$breakpoints: (
  small: 0,
  medium: 720px,
  large: 1080px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

$global-flexbox: true !default;
$global-lineheight: 1.5 !default;
$global-margin: 1rem !default;
$global-menu-nested-margin: 1rem !default;
$global-menu-padding: 0.7rem 1rem !default;
$global-padding: 1rem !default;
$global-position: 1rem !default;
$global-radius: 2px !default;
$global-width: rem-calc(720) !default;

// Body
$body-background: $white !default;
$body-font-color: $black !default;
$body-font-family: 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', 'sans-serif' !default;

// Top Bar
$top-bar-height: 48px !default;

$header-styles: (
  'small': (
    'h1': ('font-size': 2.00rem),
    'h2': ('font-size': 1.50rem),
    'h3': ('font-size': 1.35rem),
    'h4': ('font-size': 1.20rem),
    'h5': ('font-size': 1.15rem),
    'h6': ('font-size': 1.00rem),
  ),
  'medium': (
    'h1': ('font-size': 3.00rem),
    'h2': ('font-size': 2.50rem),
    'h3': ('font-size': 2.00rem),
    'h4': ('font-size': 1.50rem),
    'h5': ('font-size': 1.25rem),
    'h6': ('font-size': 1.00rem),
  ),
);

// Foundation default globals.
@import 'foundation-sites/scss/global';

// Foundation components.
@import 'foundation-sites/scss/grid/grid';
@import 'foundation-sites/scss/xy-grid/xy-grid';
@import 'foundation-sites/scss/typography/typography';
@import 'foundation-sites/scss/forms/forms';
@import 'foundation-sites/scss/components/visibility';
@import 'foundation-sites/scss/components/float';
@import 'foundation-sites/scss/components/button';
@import 'foundation-sites/scss/components/button-group';
@import 'foundation-sites/scss/components/accordion-menu';
@import 'foundation-sites/scss/components/accordion';
@import 'foundation-sites/scss/components/badge';
@import 'foundation-sites/scss/components/breadcrumbs';
@import 'foundation-sites/scss/components/callout';
@import 'foundation-sites/scss/components/card';
@import 'foundation-sites/scss/components/close-button';
@import 'foundation-sites/scss/components/drilldown';
@import 'foundation-sites/scss/components/dropdown';
@import 'foundation-sites/scss/components/dropdown-menu';
@import 'foundation-sites/scss/components/flex';
@import 'foundation-sites/scss/components/responsive-embed';
@import 'foundation-sites/scss/components/label';
@import 'foundation-sites/scss/components/media-object';
@import 'foundation-sites/scss/components/menu';
@import 'foundation-sites/scss/components/menu-icon';
@import 'foundation-sites/scss/components/off-canvas';
@import 'foundation-sites/scss/components/orbit';
@import 'foundation-sites/scss/components/pagination';
@import 'foundation-sites/scss/components/progress-bar';
@import 'foundation-sites/scss/components/reveal';
@import 'foundation-sites/scss/components/slider';
@import 'foundation-sites/scss/components/sticky';
@import 'foundation-sites/scss/components/switch';
@import 'foundation-sites/scss/components/table';
@import 'foundation-sites/scss/components/tabs';
@import 'foundation-sites/scss/components/title-bar';
@import 'foundation-sites/scss/components/top-bar';
@import 'foundation-sites/scss/components/thumbnail';
@import 'foundation-sites/scss/components/tooltip';
@import 'foundation-sites/scss/prototype/prototype';
