{% extends "paragraph.html.twig" %}
{#
/**
 * @file
 * Theme override for a paragraph type.
#}
{% block content %}
  {{ attach_library('alkaline/card') }}
  <div{{ attributes.addClass("card") }}>
    <div class="image">
      {{ content.field_image }}
    </div>
    <div class="section">
      {{ content|without('field_image') }}
    </div>
  </figure>
{% endblock %}
