{% extends "paragraph.html.twig" %}
{#
/**
 * @file
 * Theme override for the media object paragraph type.
 */
#}
{% block content %}
  {{ attach_library('alkaline/media_object') }}
  <div class="media-object">
    {% if content.field_image %}
      <figure>
        {{ content.field_image }}
      </figure>
    {% endif %}
    <div>
      {{ content|without('field_image') }}
    </div>
  </div>
{% endblock %}
