{% extends "paragraph.html.twig" %}{#
/**
 * @file
 * Theme override for the gallery paragraph type.
 */
#}
{% block content %}
  {{ attach_library('alkaline/gallery') }}
  <div class="gallery">
    <ul {{ attributes }}>
      {{ content }}
    </ul>
  </div>
{% endblock content %}
