{% extends "paragraph--body-section.html.twig" %}
{#
/**
 * @file
 * Theme override to display a video paragraph.
 *
 * This should be redundant in Alkaline v2
 */
#}
{% block content %}
  <div class="video">
    {{ content }}
  </div>
{% endblock content %}
