{#
/**
 * @file
 * Theme override for the grid paragraph type.
 */
#}
{% block paragraph %}
  <div{{ attributes.addClass("grid") }}>
    {% block content %}
      {{ content }}
    {% endblock content %}
  </div>
{% endblock paragraph %}
