{#
/**
 * @file
 * Theme override to display an aside paragraph.
 *
 * We don't bother with attributes on this because it's only meant to be
 * a simple wrapper.
 */
#}
{% block paragraph %}
  <div class="aside">
    {% block content %}
      {{ content }}
    {% endblock content %}
  </div>
{% endblock paragraph %}
