{% extends "paragraph.html.twig" %}
{#
/**
 * @file
 * Theme override for the collage paragraph type.
 *
 * @deprecated
 *
 * Future sites should use pictures in grids, and add negative space in images
 * to create a spaced-out collage of images.
 */
#}
{% block content %}
  {{ attach_library('alkaline/collage') }}
  <div{{ attributes.addClass("collage") }}>
    {{ content }}
  </div>
{% endblock content %}
