{#
/**
 * @file
 * Custom theme implementation to display a paragraph.
 */
#}
{% block content %}
  {{ attach_library('alkaline/banner') }}
  {% if emphasised %}
    <div class="section emphasised">
  {% else %}
    <div class="section">
  {% endif %}

    <div class="row" }}>
      <figure class="grid small-1 medium-2">
        {{ content.field_image }}
        <figcaption>
          {{ content|without('field_image') }}
        </figcaption>
      </figure>
    </div>
    {{ css }}

  </div>
{% endblock %}

