{#
/**
 * @file
 * Custom theme implementation to display a paragraph.
 */
#}
{%
  set classes = [
    paragraph.bundle|clean_class,
  ]
%}
{% block paragraph %}

  {% if emphasised %}
    <div class="body-section emphasised">
  {% else %}
    <div class="body-section">
  {% endif %}

  {% block content %}
    <div>
      <div {{ attributes.addClass(classes) }}>
        {{ content }}
      </div>
    </div>
  {% endblock %}

  </div>

{% endblock paragraph %}
