{% extends "paragraph--field-body.html.twig" %}
{#
/**
 * @file
 * Custom theme implementation to display a paragraph.
 */
#}
{% block content %}
  {{ attach_library('alkaline/collage') }}
  <div class="row">
    <div class="collage">
      {{ content }}
    </div>
  </div>
{% endblock content %}
