{#
/**
 * @file
 * Theme override to display an aside paragraph.
 */
#}
{% block paragraph %}
  <div class="aside">
    {% block content %}
      {{ content }}
    {% endblock content %}
  </div>
{% endblock paragraph %}
