{#
/**
 * @file
 * Custom theme implementation to display a paragraph.
 */
#}
{% block paragraph %}
  <div{{attributes.addClass("grid") }}>
    {% block content %}
      {{ content }}
    {% endblock content %}
  </div>
{% endblock paragraph %}
