{% extends "paragraph--body-section.html.twig" %}
{#
/**
 * @file
 * Custom theme implementation to display a paragraph.
 */
#}
{% block content %}
  {{ attach_library('alkaline/collage') }}
  <div{{ attributes.addClass("collage") }}>
    {{ content }}
  </div>
{% endblock content %}
