{% extends "paragraph--body-section.html.twig" %}
{% block content %}
  {{ attach_library('alkaline/gallery') }}
  <div{{ attributes.addClass("gallery") }}>
    {{ content }}
  </div>
{% endblock content %}
