{% extends "paragraph--field-body.html.twig" %}
{#
/**
 * @file
 * Custom theme implementation to display a paragraph.
 */
#}
{% block content %}
  <div class="section">
    {{ content }}
  </div>
{% endblock content %}
