{#
/**
 * @file
 * Custom theme implementation to display a paragraph.
 */
#}
{% block paragraph %}
  {% block content %}
    {% if emphasised %}
      <div class="section emphasised">
    {% else %}
      <div class="section">
    {% endif %}

      <div class="row">
        {{ content }}
      </div>

    </div>
  {% endblock content %}
{% endblock paragraph %}
