{% extends "paragraph.html.twig" %}
{#
/**
 * @file
 * Custom theme implementation to display a paragraph.
 */
#}
{% block content %}
  <div class="row">
    {# <div> #}
      {{ content }}
    {# </div> #}
  </div>
{% endblock content %}
