@import 'global';


@mixin alkaline-grid {
  .grid {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0 auto; // Let the grid centre itself.
    @include xy-grid;

    &.content-width {
      max-width: $global-width;
    }

    @for $col-count from 1 through 12 {
      @each $name, $width in $breakpoints {
        &.#{$name}-#{$col-count} {
          @include breakpoint($name) {
            $selectors: 'li', 'div', '.cell', '.block';

            @if $col-count == 1 {
              @each $selector in $selectors {
                // Create grid without gutters.
                @include xy-grid-layout($col-count, $selector, false);
              }
            }
            @else {
              @each $selector in $selectors {
                // Create grid with gutters.
                @include xy-grid-layout($col-count, $selector);
              }
            }
          }
        }
      }
    }

    > li,
    > .cell {
      display: flex;
      justify-content: center;
      margin-bottom: 0.625rem;
      margin-top: 0.625rem;
    }
  }
}


@include alkaline-grid;
