@import 'global';


$article-lead-font-size: 120%;
$article-lead-line-height: 1.5;


@mixin alkaline-article-theme {
  article {
    header {
      p {
        font-size: $article-lead-font-size;
        line-height: $article-lead-line-height;
      }
    }
  }
}


@include alkaline-article-theme;
