@import 'global';


$article-emphasis-background: $black;
$article-emphasis-background-image: none;
$article-emphasis-color: $white;


@mixin alkaline-article-theme {
  article {
    .section {
      &.emphasised {
        background-color: $article-emphasis-background;
        background-image: $article-emphasis-background-image;
        color: $article-emphasis-color;
      }
    }
  }
}


@if $theme is alkaline {
  @include alkaline-article-theme;
}
