@import 'global';


$backdrop-reverse-background: $black;
$backdrop-reverse-color: $white;


@mixin alkaline-backdrop-theme {
  .backdrop {
    &.reverse-color {
      color: $backdrop-reverse-color;

      &:before,
      &:after {
        background-color: $backdrop-reverse-background;
        background-position: center;
        background-size: cover;
        color: $backdrop-reverse-color;
      }
    }
  }
}


@include alkaline-backdrop-theme;
