@import 'global';


$menu-button-font-family: inherit;
$menu-button-background: inherit;
$menu-button-color: inherit;
$menu-item-color-active: $white;
$menu-item-background-active: get-color(primary);

$arrow-color: $white;
$arrow-size: 6px;

$drilldown-arrow-color: $arrow-color;
$drilldown-arrow-size: $arrow-size;

$dropdownmenu-active-button-background: inherit;
$dropdownmenu-active-button-color: inherit;
$dropdownmenu-arrow-color: $arrow-color;
$dropdownmenu-arrow-size: $arrow-size;
$dropdownmenu-arrow-padding: 1.5rem;


////////////////////////////////////////////////////////////////////////////////
/// Helpers
////////////////////////////////////////////////////////////////////////////////

/// TODO Replace CSS arrows with SVG carets.

@mixin zf-drilldown-left-right-arrows {
  .is-drilldown-submenu-parent > a {
    position: relative;
    &::after {
      position: absolute;
      top: 50%;
      margin-top: -1 * $drilldown-arrow-size;
      #{$global-right}: 1rem;
      @include css-triangle($drilldown-arrow-size, $drilldown-arrow-color, $global-right);
    }
  }

  &.align-left .is-drilldown-submenu-parent > a::after {
    left: auto;
    right: 1rem;
    @include css-triangle($dropdownmenu-arrow-size, $dropdownmenu-arrow-color, right);
  }

  &.align-right .is-drilldown-submenu-parent > a::after {
    right: auto;
    left: 1rem;
    @include css-triangle($dropdownmenu-arrow-size, $dropdownmenu-arrow-color, left);
  }
}


@mixin zf-dropdown-left-right-arrows {
  > a::after {
    #{$global-right}: 14px;
  }

  &.opens-left > a::after {
    right: auto;
    left: 5px;
    @include css-triangle($dropdownmenu-arrow-size, $dropdownmenu-arrow-color, left);
  }

  &.opens-right > a::after {
    @include css-triangle($dropdownmenu-arrow-size, $dropdownmenu-arrow-color, right);
  }
}


////////////////////////////////////////////////////////////////////////////////
/// Components
////////////////////////////////////////////////////////////////////////////////


@mixin _alkaline-dropdown-menu-theme-direction($dir: horizontal) {
  > li {
    @if $dir == horizontal {
      &.is-dropdown-submenu-parent {
        > a {
          position: relative;
          padding-#{$global-right}: $dropdownmenu-arrow-padding;
        }

        > a::after {
          @include css-triangle($dropdownmenu-arrow-size, $dropdownmenu-arrow-color, down);
          #{$global-right}: 5px;
          #{$global-left}: auto;
          margin-top: -1 * ($dropdownmenu-arrow-size / 2);
        }
      }
    }
    @else if $dir == vertical {
      @include zf-dropdown-left-right-arrows;
    }
  }
}


@mixin alkaline-menu-theme {

  ul.menu {
    // @todo remove this !important decorator
    background: inherit !important;

    li {
      background: inherit;
    }

    a {
      background: $menu-button-background;
      color: $menu-button-color;
      font-family: $menu-button-font-family;
    }

    // Active state
    .is-active > a {
      background: $menu-item-background-active;
      color: $menu-item-color-active;
    }
  }
}


@mixin alkaline-drilldown-menu-theme {
  .is-drilldown {
    background: inherit;
  }

  .is-drilldown-submenu {
    background: inherit;
  }

  ul.menu.drilldown {
    @include zf-drilldown-left-right-arrows;
  }

  .js-drilldown-back > a::before {
    @include css-triangle($drilldown-arrow-size, $drilldown-arrow-color, $global-left);
    border-#{$global-left}-width: 0;
    display: inline-block;
    vertical-align: middle;
    margin-#{$global-right}: 0.75rem; // Creates space between the arrow and the text

    border-#{$global-left}-width: 0;
  }
}


@mixin alkaline-dropdown-menu-theme {

  ul.menu.dropdown {
    li {
      &.is-active {
        a {
          background: $dropdownmenu-active-button-background;
          color: $dropdownmenu-active-button-color;
        }
      }
    }

    &.horizontal {
      @include _alkaline-dropdown-menu-theme-direction(vertical);
    }

    &.vertical {
      @include _alkaline-dropdown-menu-theme-direction(vertical);
    }

    @each $size in $breakpoint-classes {
      @if $size != $-zf-zero-breakpoint {
        @include breakpoint($size) {
          &.#{$size}-horizontal {
            @include _alkaline-dropdown-menu-theme-direction(horizontal);
          }

          &.#{$size}-vertical {
            @include _alkaline-dropdown-menu-theme-direction(vertical);
          }
        }
      }
    }
  }

  .is-dropdown {
    background: inherit;
  }

  .is-dropdown-submenu-parent {
    a::after {
      position: absolute;
      top: 50%;
      #{$global-right}: 5px;
      #{$global-left}: auto;
      margin-top: -1 * $dropdownmenu-arrow-size;
    }
  }

  .is-dropdown-submenu {
    border: none;
    background: inherit;

    .is-dropdown-submenu-parent {
      @include zf-dropdown-left-right-arrows;
    }
  }
}


@mixin alkaline-share-menu-theme {
  .menu.social-share {
    li {
      @include brand-colors(background-color);
      fill: $white;
    }
  }
}


@include alkaline-menu-theme;
@include alkaline-drilldown-menu-theme;
@include alkaline-dropdown-menu-theme;
@include alkaline-share-menu-theme;
