@import 'global';


$topbar-layer-background: $black;
$topbar-layer-color: $white;

$footer-layer-background: $medium-gray;
$footer-layer-color: $black;

$boilerplate-layer-color: $footer-layer-color;
$boilerplate-layer-background: $footer-layer-background;


@mixin alkaline-page-theme {
  .layer {
    &.topbar {
      color: $topbar-layer-color;
      background-color: $topbar-layer-background;
      fill: $topbar-layer-color; // for SVG icons
    }

    &.footer {
      color: $footer-layer-color;
      background-color: $footer-layer-background;
      fill: $footer-layer-color; // for SVG icons
    }

    &.boilerplate {
      color: $boilerplate-layer-color;
      background-color: $boilerplate-layer-background;
      fill: $boilerplate-layer-color; // for SVG icons
    }
  }
}


@include alkaline-page-theme;
