{#
/**
 * @file
 * Theme override for a cards field.
 *
 * Classes are set in preprocessor.
 */
#}
<div class="gallery">
  <ul {{ attributes }}>
    {% for item in items %}
      <li {{ item.attributes }}>
        {{ item.content }}
      </li>
    {% endfor %}
  </ul>
</div>
