


@mixin alkaline-article {
  article {
    main & {
      margin: 0 0 $global-margin 0;
      padding: 0;

      .lead-section {
        margin: 0 auto;
        max-width: $global-width;
      }

      .body-section {
        margin: ($global-margin * 2) auto;
        max-width: $global-width;
      }

      .aside {
        .body-section {
          padding: $global-margin;
        }
      }

      .image {
        figcaption {
          font-size: 1rem;
          padding: 1rem;
        }
      }

      .text-formatted {
        width: 100%;

        img {
          margin-bottom: $global-margin;
        }
      }

      footer {
        &.media-object {
          figure {
            // Make the author picture the same height as two lines of text.
            height: $global-lineheight * 2em;

            // Shrink img to fit figure.
            img {
              height: 100%;
              width: auto;
            }
          }

          // Stack author name and date.
          span {
            display: block;
          }
        }

        address {
          padding: 0 $global-margin;
          margin: $global-margin 0;
        }
      }

      iframe {
        display: block;
        margin: 0 auto;
      }

      // @todo Review this block.
      &.contact-details {
        span {
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }
}


// @include alkaline-article;
