


@mixin alkaline-article {
  article {
    margin: 0 0 $global-margin;
    padding: 0;

    &.teaser {
      margin: (2 * $global-margin) 0;
    }

    // @todo Review this block.
    &.contact-details {
      span {
        display: inline-block;
        vertical-align: top;
      }
    }

    picture {
      display: flex;
      justify-content: center;

      img {
        display: block;
      }
    }

    .text-formatted {
      width: 100%;
    }

    .row {
      > div {
        max-width: $global-width;
        margin: ($global-margin * 2) auto;

        &.image {
          figcaption {
            padding: 1rem;
          }
        }
      }
    }

    .collage {
      li {
        padding: $global-margin;
      }
    }

    // Put bottom margin on img if not inside picture.
    *:not(picture) > img {
      margin-bottom: $global-margin;
    }

    footer {
      @include media-object-container;
      max-width: $global-width;
      margin: $global-margin auto;

      > * {
        @include media-object-section;
      }

      figure {
        // Make the author picture the same height as two lines of text.
        height: $global-lineheight * 2em;

        // Shrink img to fit figure.
        img {
          height: 100%;
          width: auto;
        }
      }

      // Stack author name and date.
      span {
        display: block;
      }
    }
  }
}


// @include alkaline-article;
