


@mixin alkaline-banner {
  .banner {
    @include tda-background-image;
    position: relative;

    // Extend over the padding set on .block
    margin: 0 (-$global-margin);

    // Give the banner content plenty of padding.
    padding: 3rem $global-margin;
    @include breakpoint(medium) {
      padding: 6rem $global-margin;;
    }

    > div {
      // Centre-align the banner content elements.
      align-items: center;
      display: flex;
      flex-direction: column;
      max-width: $global-width;
      text-align: center;

      // Standard content margins.
      margin: 0 auto;
      max-width: $global-width;
      width: 100%;
    }

    h1, h2 {
      line-height: 1.2em;
    }

    h2 {
      line-height: 1.2em;
      font-size: 1.5rem;

      @include breakpoint(medium) {
        font-size: 1.75rem;
      }

      a {
        color: inherit;
      }
    }

    .button {
      font-weight: bold;
      min-width: 8em;

      @include breakpoint(medium) {
        font-size: 1.2em;
      }
    }
  }
}


// @include alkaline-banner;
