


@mixin alkaline-carousel {
  @include foundation-orbit;

  .block.carousel {
    .orbit {
      margin: 0 (-$global-margin);
    }
  }

  .orbit-controls {
    button {
      cursor: pointer;
    }

    svg.icon {
      $icon-size: 1rem;

      fill: white;
      width: $icon-size;
      height: $icon-size;
    }
  }
}


// @include alkaline-carousel;
