


@mixin alkaline-card {
  .card {
    @include card-container;
    margin: 0;

    .image {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .card-section {
      @include card-section;

      > *:first-child {
        margin-top: 0;
      }

      > *:last-child {
        margin-bottom: 0;
      }

      .text-formatted {
        > *:first-child {
          margin-top: 0;
        }

        > *:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}


// @include alkaline-card;
