


@mixin alkaline-card {
  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: $global-width;

    > figure {
      flex: none;

      picture {
        flex: none;

        a {
          display: block;
        }

        img {
          display: block;
          max-width: 100%;
          margin: 0 auto;
          height: auto;
        }
      }

      // Hide captions for image fields.
      figcaption {
        display: none;
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
      margin: $global-margin 0;

      > h2,
      > h3 {
        padding: 0 $global-margin;
      }

      h3 {
        width: 100%;
        font-size: 1.25em;

        a {
          color: inherit;
        }
      }
    }

    &.wide {
      @include breakpoint(medium) {
        flex-direction: row;

        > section {
          align-items: flex-start;
          justify-content: flex-start;
          margin: 0 0 0 $global-margin;

          &:first-child {
            margin: 0;
          }
        }
      }
    }
  }
}


