


@mixin alkaline-location {
  .location {
    margin: 0 auto;
    max-width: $global-width;

    .layer.header & {
      margin: 0;
    }

    > div {
      padding: 0 $global-margin;
    }

    @include breakpoint(medium) {
      > div {
        display: flex;

        > section {
          &:first-child {
            flex: none;
            padding-right: ($global-margin * 3);
          }

          &:last-child {
            flex-grow: 1;
          }
        }
      }
    }
  }
}


// @include alkaline-location;
