


@mixin alkaline-location {
  .location {
    margin: $global-margin auto;
    max-width: $global-width;

    .layer.header & {
      margin: 0;
    }

    @include breakpoint(medium) {
      display: flex;

      > section {
        &:first-child {
          flex: none;
          padding-right: ($global-margin * 3);
        }

        &:last-child {
          flex-grow: 1;
        }
      }
    }
  }
}


// @include alkaline-location;
