


// Foundation overrides
$drilldown-background: inherit;
$drilldown-submenu-background: inherit;
$dropdownmenu-border: 0 solid transparent;

// Alkaline defaults
$menu-button-icon-size: 1.5em;
$header-menu-button-font-size: 0.875em;
$share-menu-button-size: 2em;


@mixin alkaline-menu-button {
  display: flex;
  align-items: center;

  svg.icon {
    display: block;
    height: $menu-button-icon-size;
    width: $menu-button-icon-size;

    // If the menu item has an icon then hide the
    // text labal until there is ample horizontal space.
    & + span {
      display: none;

      @include breakpoint(medium) {
        display: inline-block;
        margin-left: 0.5em;
      }
    }
  }

  span {
    display: block;
    line-height: $menu-button-icon-size;
  }
}


@mixin alkaline-menu {
  @include foundation-menu;

  .menu {
    a {
      @include alkaline-menu-button;

      .layer.header & {
        font-size: 0.875em;
      }
    }

    .region.navbar & {
      @include menu-direction(vertical);

      @include breakpoint(large) {
        @include menu-direction(horizontal);
      }
    }

    .region.footer & {
      @include menu-direction(vertical);

      a {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}


@mixin alkaline-share-menu {
  .menu.social-share {
    @include button-group(li, 0.5rem);

    a {
      height: $share-menu-button-size;
      width: $share-menu-button-size;
      padding: 20%;

      svg.icon {
        height: 100%;
        width: 100%;

        & + span {
          display: none;
        }
      }
    }
  }
}


@mixin alkaline-drilldown-menu {
  @include foundation-drilldown-menu;
}


@mixin alkaline-dropdown-menu {
  @include foundation-dropdown-menu;
}


@mixin alkaline-navbar-toggle-button {
  button[data-toggle="navbar"] {
    @include alkaline-menu-button;
    height: 100%;
    line-height: 1;
    text-decoration: none;
    display: block;
    padding: $menu-items-padding;
    cursor: pointer;

    @include breakpoint(large) {
      display: none;
    }
  }
}


