


@mixin alkaline-page-title {
  .page-title {
    margin: ($global-margin * 2) auto;
    max-width: $global-width;
    width: 100%;

    .title-bar & {
      margin: ($global-margin * 4) auto ($global-margin * 2);
    }
  }
}

// @include alkaline-page-title;
