


@mixin alkaline-title-bar {
  .title-bar {
    width: 100%;
    max-width: $global-width;

    .region.content & {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      a.button {
        display: block;
        margin: 0;
      }
    }
  }
}


// @include alkaline-title-bar;
