.layer.footer {
  color: #0a0a0a;
  background-color: #cacaca;
  margin: 1rem 0 0 0; }
  .layer.footer > div {
    margin: 0 auto;
    max-width: 1080px; }
  .layer.footer .block {
    margin: 1rem auto;
    padding: 0 1rem; }
    .layer.footer .block h2 {
      margin: 1rem 0; }

.layer.boilerplate {
  color: #0a0a0a;
  background-color: #cacaca; }
  .layer.boilerplate .region {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .layer.boilerplate .block {
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
    padding: 1rem;
    text-transform: uppercase; }
