.layer.lead {
  position: relative; }
  .layer.lead.full-page {
    height: 100%; }
    .layer.lead.full-page .region {
      height: 100%; }
    .layer.lead.full-page .block {
      height: 100%; }
      .layer.lead.full-page .block > div {
        height: 100%; }
  .layer.lead .region.content-width {
    margin: 0 auto;
    max-width: 60rem; }
