div.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 48px 0 0 0; }
  div.page main {
    flex-grow: 1; }

.layer.header {
  color: #fefefe;
  background-color: #0a0a0a;
  fill: #fefefe;
  width: 100%; }
  .layer.header.fixed {
    position: fixed;
    top: 0;
    transition: top 300ms ease;
    z-index: 1; }
    body.toolbar-horizontal .layer.header.fixed,
    body.toolbar-vertical .layer.header.fixed {
      padding-top: 39px; }
    body.toolbar-horizontal.toolbar-tray-open .layer.header.fixed {
      padding-top: 79px; }
  .layer.header > div {
    height: 48px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: relative; }
    .layer.header > div .region.header {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      height: 100%;
      justify-content: space-between; }
      .layer.header > div .region.header .block {
        align-items: center;
        display: flex;
        height: 100%; }
      @media print, screen and (min-width: 64em) {
        .layer.header > div .region.header {
          justify-content: flex-start; } }
    .layer.header > div .region.navbar {
      background: #0a0a0a;
      color: #fefefe;
      height: 100%;
      padding-top: 48px;
      position: fixed;
      right: 0;
      top: 0;
      z-index: -1; }
      .layer.header > div .region.navbar {
        width: 0;
        pointer-events: none; }
      .layer.header > div .region.navbar.active {
        width: 320px;
        pointer-events: all; }
      body.toolbar-horizontal .layer.header > div .region.navbar,
      body.toolbar-vertical .layer.header > div .region.navbar {
        padding-top: 87px; }
      body.toolbar-horizontal.toolbar-tray-open .layer.header > div .region.navbar {
        padding-top: 127px; }
      @media print, screen and (min-width: 64em) {
        .layer.header > div .region.navbar {
          display: flex;
          flex-direction: row;
          flex-grow: 1;
          height: 100%;
          justify-content: flex-end;
          pointer-events: all;
          position: static;
          width: auto;
          z-index: 1;
          padding-top: 0 !important; }
          .layer.header > div .region.navbar .block {
            align-items: center;
            display: flex;
            height: 100%; } }
    .layer.header > div .region.buttons {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      height: 100%;
      flex: none; }
      .layer.header > div .region.buttons .block {
        align-items: center;
        display: flex;
        height: 100%; }
    .layer.header > div .region > .block {
      background: inherit; }

.layer.main .block {
  margin: 1rem auto;
  max-width: 60rem;
  padding: 0 1rem; }
  .layer.main .block > h2 {
    margin: 1rem 0; }
  .layer.main .block.full-width {
    max-width: none;
    padding: 0; }

.layer.main .block--hero-banner {
  margin: 0 auto 1rem; }

.layer.footer {
  color: #0a0a0a;
  background-color: #cacaca;
  margin: 96px 0 0 0; }

.layer.boilerplate .block {
  text-align: center;
  font-size: 85%;
  font-weight: bold;
  padding: 16px 24px;
  text-transform: uppercase;
  opacity: 0.5; }

.grid {
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0.625rem;
  display: flex;
  flex-flow: row wrap; }
  .grid.small-1 > li {
    width: calc(100% - 1.25rem);
    margin-right: 0.625rem;
    margin-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .grid.medium-1 > li {
      width: calc(100% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media print, screen and (min-width: 64em) {
    .grid.large-1 > li {
      width: calc(100% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 75em) {
    .grid.xlarge-1 > li {
      width: calc(100% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 90em) {
    .grid.xxlarge-1 > li {
      width: calc(100% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  .grid.small-2 > li {
    width: calc(50% - 1.25rem);
    margin-right: 0.625rem;
    margin-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .grid.medium-2 > li {
      width: calc(50% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media print, screen and (min-width: 64em) {
    .grid.large-2 > li {
      width: calc(50% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 75em) {
    .grid.xlarge-2 > li {
      width: calc(50% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 90em) {
    .grid.xxlarge-2 > li {
      width: calc(50% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  .grid.small-3 > li {
    width: calc(33.33333% - 1.25rem);
    margin-right: 0.625rem;
    margin-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .grid.medium-3 > li {
      width: calc(33.33333% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media print, screen and (min-width: 64em) {
    .grid.large-3 > li {
      width: calc(33.33333% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 75em) {
    .grid.xlarge-3 > li {
      width: calc(33.33333% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 90em) {
    .grid.xxlarge-3 > li {
      width: calc(33.33333% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  .grid.small-4 > li {
    width: calc(25% - 1.25rem);
    margin-right: 0.625rem;
    margin-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .grid.medium-4 > li {
      width: calc(25% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media print, screen and (min-width: 64em) {
    .grid.large-4 > li {
      width: calc(25% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 75em) {
    .grid.xlarge-4 > li {
      width: calc(25% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 90em) {
    .grid.xxlarge-4 > li {
      width: calc(25% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  .grid.small-5 > li {
    width: calc(20% - 1.25rem);
    margin-right: 0.625rem;
    margin-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .grid.medium-5 > li {
      width: calc(20% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media print, screen and (min-width: 64em) {
    .grid.large-5 > li {
      width: calc(20% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 75em) {
    .grid.xlarge-5 > li {
      width: calc(20% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 90em) {
    .grid.xxlarge-5 > li {
      width: calc(20% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  .grid.small-6 > li {
    width: calc(16.66667% - 1.25rem);
    margin-right: 0.625rem;
    margin-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .grid.medium-6 > li {
      width: calc(16.66667% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media print, screen and (min-width: 64em) {
    .grid.large-6 > li {
      width: calc(16.66667% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 75em) {
    .grid.xlarge-6 > li {
      width: calc(16.66667% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 90em) {
    .grid.xxlarge-6 > li {
      width: calc(16.66667% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  .grid.small-7 > li {
    width: calc(14.28571% - 1.25rem);
    margin-right: 0.625rem;
    margin-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .grid.medium-7 > li {
      width: calc(14.28571% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media print, screen and (min-width: 64em) {
    .grid.large-7 > li {
      width: calc(14.28571% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 75em) {
    .grid.xlarge-7 > li {
      width: calc(14.28571% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 90em) {
    .grid.xxlarge-7 > li {
      width: calc(14.28571% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  .grid.small-8 > li {
    width: calc(12.5% - 1.25rem);
    margin-right: 0.625rem;
    margin-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .grid.medium-8 > li {
      width: calc(12.5% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media print, screen and (min-width: 64em) {
    .grid.large-8 > li {
      width: calc(12.5% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 75em) {
    .grid.xlarge-8 > li {
      width: calc(12.5% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 90em) {
    .grid.xxlarge-8 > li {
      width: calc(12.5% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  .grid.small-9 > li {
    width: calc(11.11111% - 1.25rem);
    margin-right: 0.625rem;
    margin-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .grid.medium-9 > li {
      width: calc(11.11111% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media print, screen and (min-width: 64em) {
    .grid.large-9 > li {
      width: calc(11.11111% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 75em) {
    .grid.xlarge-9 > li {
      width: calc(11.11111% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 90em) {
    .grid.xxlarge-9 > li {
      width: calc(11.11111% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  .grid.small-10 > li {
    width: calc(10% - 1.25rem);
    margin-right: 0.625rem;
    margin-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .grid.medium-10 > li {
      width: calc(10% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media print, screen and (min-width: 64em) {
    .grid.large-10 > li {
      width: calc(10% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 75em) {
    .grid.xlarge-10 > li {
      width: calc(10% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 90em) {
    .grid.xxlarge-10 > li {
      width: calc(10% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  .grid.small-11 > li {
    width: calc(9.09091% - 1.25rem);
    margin-right: 0.625rem;
    margin-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .grid.medium-11 > li {
      width: calc(9.09091% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media print, screen and (min-width: 64em) {
    .grid.large-11 > li {
      width: calc(9.09091% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 75em) {
    .grid.xlarge-11 > li {
      width: calc(9.09091% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 90em) {
    .grid.xxlarge-11 > li {
      width: calc(9.09091% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  .grid.small-12 > li {
    width: calc(8.33333% - 1.25rem);
    margin-right: 0.625rem;
    margin-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .grid.medium-12 > li {
      width: calc(8.33333% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media print, screen and (min-width: 64em) {
    .grid.large-12 > li {
      width: calc(8.33333% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 75em) {
    .grid.xlarge-12 > li {
      width: calc(8.33333% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  @media screen and (min-width: 90em) {
    .grid.xxlarge-12 > li {
      width: calc(8.33333% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem; } }
  .grid > li {
    display: flex;
    justify-content: center;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem; }
