.dialog-off-canvas-main-canvas {
  height: 100%; }

div.page {
  height: 100%;
  padding: 48px 0 0 0; }
  div.page main {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.layer.admin {
  position: relative; }
  .layer.admin .region.content-width {
    margin: 0 auto;
    max-width: 60rem; }

.layer.topbar {
  width: 100%; }
  .layer.topbar.fixed {
    position: fixed;
    top: 0;
    transition: top 300ms ease;
    z-index: 1000; }
    body.toolbar-horizontal .layer.topbar.fixed,
    body.toolbar-vertical .layer.topbar.fixed {
      padding-top: 39px; }
    body.toolbar-horizontal.toolbar-tray-open .layer.topbar.fixed {
      padding-top: 79px; }
  .layer.topbar .off-canvas,
  .layer.topbar .container,
  .layer.topbar .wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: inherit;
    color: inherit; }
  .layer.topbar .wrapper {
    height: 48px;
    margin: 0 auto;
    max-width: 1080px; }
  @media screen and (max-width: 67.4375em) {
    .layer.topbar .off-canvas {
      overflow-x: hidden;
      position: fixed;
      right: 0;
      z-index: 999;
      height: calc(100% - 48px);
      top: 48px; }
      body.toolbar-horizontal .layer.topbar .off-canvas,
      body.toolbar-vertical .layer.topbar .off-canvas {
        height: calc(100% - 87px);
        top: 87px; }
      body.toolbar-horizontal.toolbar-tray-open .layer.topbar .off-canvas {
        height: calc(100% - 127px);
        top: 127px; }
      .layer.topbar .off-canvas {
        width: 0;
        pointer-events: none; }
      .layer.topbar .off-canvas.active {
        width: 320px;
        pointer-events: all; } }
  .layer.topbar .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: inherit;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0; }
    .layer.topbar .container.topbar-wrapper {
      height: 48px;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1080px;
      position: relative; }
    .layer.topbar .container.header {
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    @media screen and (max-width: 67.4375em) {
      .layer.topbar .container.navbar {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        right: 0;
        width: 320px;
        z-index: 999; }
        .layer.topbar .container.navbar .region {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column; } }
    .layer.topbar .container.buttons {
      -webkit-flex: none;
      -ms-flex: none;
      flex: none; }
      @media print, screen and (min-width: 67.5em) {
        .layer.topbar .container.buttons {
          display: none; } }
  .layer.topbar .region {
    background-color: inherit;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .layer.topbar .block {
    background-color: inherit;
    height: 100%; }

.layer.lead {
  position: relative; }
  .layer.lead .block {
    padding: 0 1rem; }
  .layer.lead.full-page {
    height: 100%; }
    .layer.lead.full-page .region {
      height: 100%; }
    .layer.lead.full-page .block {
      height: 100%; }
      .layer.lead.full-page .block > div {
        height: 100%; }
  .layer.lead .region.content-width {
    margin: 0 auto;
    max-width: 60rem; }

.layer.main {
  margin: 0 0 2rem; }
  .layer.main .block {
    padding: 0 1rem; }
  .layer.main .page-title-block {
    margin-top: 3rem;
    margin-bottom: 3rem; }

#main-content {
  position: relative;
  top: -48px; }
  body.toolbar-horizontal #main-content,
  body.toolbar-vertical #main-content {
    top: -87px; }
  body.toolbar-horizontal.toolbar-tray-open #main-content {
    top: -127px; }

.layer.footer {
  margin: 1rem 0 0 0;
  padding: 0 1rem; }
  .layer.footer > div {
    margin: 0 auto;
    max-width: 1080px; }
  .layer.footer .region {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .layer.footer .block h2 {
    margin: 1rem 0; }

.layer.boilerplate {
  padding: 2rem 0 1rem; }
  .layer.boilerplate > div {
    margin: 0 auto;
    max-width: 1080px; }
  .layer.boilerplate .region {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .layer.boilerplate .block {
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
    padding: 0 1rem;
    text-transform: uppercase; }
