.dialog-off-canvas-main-canvas {
  height: 100%; }

div.page {
  height: 100%;
  padding: 48px 0 0 0; }
  div.page main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.layer.admin {
  position: relative; }
  .layer.admin .region.content-width {
    margin: 0 auto;
    max-width: 60rem; }

.layer.header {
  width: 100%; }
  .layer.header.fixed {
    position: fixed;
    top: 0;
    -webkit-transition: top 300ms ease;
    transition: top 300ms ease;
    z-index: 1000; }
    body.toolbar-horizontal .layer.header.fixed,
    body.toolbar-vertical .layer.header.fixed {
      padding-top: 39px; }
    body.toolbar-horizontal.toolbar-tray-open .layer.header.fixed {
      padding-top: 79px; }
  .layer.header > div {
    background: inherit;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1080px;
    position: relative; }
  .layer.header .super-region.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .layer.header .super-region.navbar {
    bottom: 0;
    background: inherit;
    color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    right: 0;
    z-index: 999;
    height: calc(100vh - 48px); }
    .layer.header .super-region.navbar {
      width: 0;
      pointer-events: none; }
    .layer.header .super-region.navbar.active {
      width: 320px;
      pointer-events: all; }
    body.toolbar-horizontal .layer.header .super-region.navbar,
    body.toolbar-vertical .layer.header .super-region.navbar {
      height: calc(100vh - 87px); }
    body.toolbar-horizontal.toolbar-tray-open .layer.header .super-region.navbar {
      height: calc(100vh - 127px); }
    @media print, screen and (min-width: 67.5em) {
      .layer.header .super-region.navbar {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        height: 100% !important;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        pointer-events: all;
        position: static;
        width: auto;
        z-index: 1001; } }
    .layer.header .super-region.navbar > .region {
      background: inherit; }
      .layer.header .super-region.navbar > .region > .block {
        background: inherit; }
  .layer.header .region.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%; }
    .layer.header .region.header .block {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%; }
  @media print, screen and (min-width: 67.5em) {
    .layer.header .region.navbar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      height: 100%;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .layer.header .region.navbar .block {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%; } }
  .layer.header .region.buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none; }
    .layer.header .region.buttons .block {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%; }
    @media print, screen and (min-width: 67.5em) {
      .layer.header .region.buttons {
        display: none; } }

.layer.lead {
  position: relative; }
  .layer.lead .block {
    padding: 0 1rem; }
  .layer.lead.full-page {
    height: 100%; }
    .layer.lead.full-page .region {
      height: 100%; }
    .layer.lead.full-page .block {
      height: 100%; }
      .layer.lead.full-page .block > div {
        height: 100%; }
  .layer.lead .region.content-width {
    margin: 0 auto;
    max-width: 60rem; }

.layer.main {
  margin: 0 0 2rem; }
  .layer.main .block {
    padding: 0 1rem; }
  .layer.main .page-title-block {
    margin-top: 3rem;
    margin-bottom: 3rem; }

#main-content {
  position: relative;
  top: -48px; }
  body.toolbar-horizontal #main-content,
  body.toolbar-vertical #main-content {
    top: -87px; }
  body.toolbar-horizontal.toolbar-tray-open #main-content {
    top: -127px; }

.layer.footer {
  margin: 1rem 0 0 0; }
  .layer.footer > div {
    margin: 0 auto;
    max-width: 1080px; }
  .layer.footer .region {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .layer.footer .block h2 {
    margin: 1rem 0; }

.layer.boilerplate {
  padding: 2rem 0 1rem; }
  .layer.boilerplate > div {
    margin: 0 auto;
    max-width: 1080px; }
  .layer.boilerplate .region {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .layer.boilerplate .block {
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
    padding: 0 1rem;
    text-transform: uppercase; }
