@import 'global';

.region.content
form[id*="commerce-cart-form"] {
  // quantity
  td.views-field-edit-quantity {

    div.form-item {
      margin: 0;
    }

    input {
      height: 40px;
      padding: 0 8px;
      width: 100%;
    }
  }

  // remove button
  td.views-field-edit-delete {
    input {
      @include button;
      display: block;
      width: auto;
      font-size: 12px;
      height: 40px;
      line-height: 40px;
      padding: 0 8px;
      text-transform: uppercase;
    }
  }

  div.commerce-line-item-actions {
    @include clearfix;
    
    input {
      float: left;
      margin-right: 16px;
    }
  }
}