@import 'global';


@mixin alkaline-admin-toolbar {
  // Make the mobile admin menu fixed.
  #toolbar-administration {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1002;
  }
}


@include alkaline-admin-toolbar;
