@import 'global';


@mixin alkaline-article {
  article {
    margin: 0 0 $global-margin 0;
    padding: 0;

    .section {
      margin: ($global-margin * 2) 0;
      padding: 0 $global-margin;
    }

    .row > * {
      max-width: $global-width;
    }

    .image {
      figcaption {
        padding: 1rem;
      }
    }

    .text-formatted {
      width: 100%;

      img {
        margin-bottom: $global-margin;
      }
    }

    header {
      &.banner {
        .page-title {
          margin: $global-margin 0;
        }
      }
      &:not(.banner) {
        padding: 0 $global-margin;
      }
    }

    footer.media-object {
      figure {
        // Make the author picture the same height as two lines of text.
        height: $global-lineheight * 2em;

        // Shrink img to fit figure.
        img {
          height: 100%;
          width: auto;
        }
      }

      // Stack author name and date.
      span {
        display: block;
      }
    }

    // @todo Review this block.
    &.contact-details {
      span {
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}


@include alkaline-article;
