@import 'global';


$backdrop-reverse-color: $white;
$backdrop-reverse-link-color: $backdrop-reverse-color;


@mixin alkaline-backdrop {
  .backdrop {
    position: relative;
    margin: 0 (-$global-margin);

    &:before {
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    > div {
      display: flex;
      padding: ($global-margin * 2) $global-margin;
    }
  }
}


@include alkaline-backdrop;
