@import 'global';


$stacked-banner-image-height: 45vh;


@mixin alkaline-banner {
  .banner {
    position: relative;

    // Extend over the padding set on .block
    margin: 0 (-$global-margin);

    > div {
      // Standard content margins.
      margin: 0 auto;
      max-width: $global-width;
      width: 100%;
    }

    &:before,
    &:after {
      // Disable display by default, and let each
      // banner style decide when to switch it on.
      display: none;

      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
    }

    &.hero {
      // Give the banner content plenty of padding.
      padding: 3rem $global-margin;

      &:after {
        display: block;
        height: 100%;
      }

      > div {
        // Centre-align the banner content elements.
        align-items: center;
        display: flex;
        flex-direction: column;
        max-width: $global-width;
        text-align: center;
      }
    }

    &.stacked {
      // Make room for the background image at the top.
      padding: $stacked-banner-image-height $global-margin 0;

      &:before {
        display: block;
        height: $stacked-banner-image-height;
      }
    }
  }
}


@include alkaline-banner;
