@import 'global';


$hero-banner-background: transparent !default;
$hero-banner-color: $black !default;


@mixin alkaline-banner {
  .banner {
    @include alkaline-background-image;
    height: 100%;
    padding: 3rem 1rem;
    width: 100%;
    position: relative;

    > * {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
      max-width: $global-width;

      > div:last-of-type:not(:first-of-type) {
        @include button-group(div, 0.5rem);
        margin: 0;
      }
    }
    
    h1, h2 {
      line-height: 1.2em;
    }

    h2 {
      line-height: 1.2em;
      font-size: 1.5rem;

      @include breakpoint(medium) {
        font-size: 1.75rem;
      }

      a {
        color: inherit;
      }
    }

    .button {
      margin-top: 0;
      min-width: 8em;
    }

    // foreground image
    figure {
      max-width: 50%;
      padding: 0 ($global-margin / 2) 0 0;
    }
  }
}


@mixin alkaline-hero-banner {
  .banner.hero {
    padding: 3rem 1rem 3rem;
    text-align: center;
    background-color: $hero-banner-background;
    color: $hero-banner-color;

    @include breakpoint(medium) {
      padding: 6rem;
    }
    
    &.light-bg {
      color: $black;
      background: rgba(white, 0.75);
    }

    &.tinted-bg {
      color: $black;
      background: rgba($primary-color, 0.50);
    }

    &.dark-bg {
      color: $white;
      background: rgba(33,33,33, 0.75);
    }

    > * {
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    p {
      font-size: 1.2em;

      @include breakpoint(medium) {
        font-size: 1.5em;
      }
    }

    .button {
      font-weight: bold;

      @include breakpoint(medium) {
        font-size: 1.2em;
      }
    }
  }
}


@mixin alkaline-callout-banner {
  .banner.callout {
    color: inherit;

    @include breakpoint(medium) {
      padding: 6rem;
    }

    > * {
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    p {
      font-size: 1.2em;

      @include breakpoint(medium) {
        font-size: 1.5em;
      }
    }

    .button {
      font-weight: bold;

      @include breakpoint(medium) {
        font-size: 1.2em;
      }
    }
  }
}


@if $theme is alkaline {
  @include alkaline-banner;
  @include alkaline-hero-banner;
  @include alkaline-callout-banner;
}
