@import 'global';


$button-icon-size: 1em;


@mixin alkaline-button {
  .button {
    @include button;
    display: flex;
    justify-content: center;

    svg.icon {
      display: block;
      height: $button-icon-size;
      width: $button-icon-size;

      & + span {
        display: block;
        margin-left: 0.5em;
        height: $button-icon-size;
        line-height: $button-icon-size;
      }
    }

    &[data-drupal-selector="edit-preview"] {
      @include button-hollow;
    }

    &.hollow {
      @include button-hollow;
    }

    &.large {
      font-size: 120%;
    }
  }

  .button-group {
    $spacing: ($global-margin / 2);
    @include button-group('.button', $spacing);
  }
}


@include alkaline-button;
