@import 'global';


@mixin alkaline-carousel {
  @include foundation-orbit;

  .block {
    > .carousel {
      margin: 0 (-$global-margin);

      .orbit {
        // width: 100%;
      }
    }
  }

  .orbit-controls {
    button {
      cursor: pointer;
    }

    svg.icon {
      $icon-size: 1rem;

      fill: white;
      width: $icon-size;
      height: $icon-size;
    }
  }
}


@include alkaline-carousel;
