@import 'alkaline';

@mixin alkaline-hero-banner {

  figure.hero-banner {
    @include alkaline-background-image;
  
    &:after {
      // Dim the background image to make the overlay easier to read.
      // filter: opacity(25%);
      opacity: 0.40;
    }
  
    > figcaption {
      margin: 0 auto;
      max-width: $global-width;
      padding: 48px 24px 48px;
  
      > div:first-of-type {
        // @include alkaline-shadow-text;
        color: $white;
        color: $black;
        font-size: 120%;
      }
    
      @include breakpoint(medium) {
        padding: ($top-bar-height + 96px) 96px 96px;
  
        > div:first-of-type {
          font-size: 150%;
        }
      }
  
      > div:last-of-type {
        @include button-group(div, 0.5rem);
        justify-content: center;
        margin: 0;
  
        a {
          // @include alkaline-shadow-button;
          font-weight: bold;
          font-size: 120%;
          margin: 0;
          min-width: 8em;
        }
      }
    }
  }
}


@if $theme is alkaline {
  @include alkaline-hero-banner;
}
