@import 'global';


@mixin alkaline-links {
  .links {
    margin: $global-margin 0;
    list-style: none;

    li {
      list-style: none;
    }

    &.inline {
      a {
        // font-size: 120%;
        padding: 1rem;
      }
    }
  }
}


@include alkaline-links;
