@import 'alkaline';


@mixin alkaline-local-tasks {

  nav.local-tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0;

    ul {
      @include tabs-container;
    }
  
    li {
      @include tabs-title;
  
      > a.is-active {
        background: $tab-background-active;
        color: $tab-active-color;
      }
    }
  }
}


@if $theme is alkaline {
  @include alkaline-local-tasks;
}
