@import 'global';


@mixin alkaline-media-object {
  .media-object {
    @include media-object-container;
    width: 100%;

    > * {
      @include media-object-section;
    }

    figure {
      flex: none;
      max-width: 30vw;

      &.thumbnail {
        max-width: 3rem * $global-lineheight;
      }

      a, img {
        display: block;
        max-width: 100%;
      }
    }

    h2 {
      font-size: 1em;
    }
  }
}


@if $theme is alkaline {
  @include alkaline-media-object;
}
