@import 'global';


@mixin alkaline-media-object {
  .media-object {
    @include media-object-container;
    width: 100%;

    > * {
      @include media-object-section;
    }

    figure {
      flex: none;
      max-width: 30vw;

      @include breakpoint(medium) {
        max-width: 50%;
      }

      &.thumbnail {
        max-width: 3rem * $global-lineheight;
      }

      a, img {
        display: block;
        max-width: 100%;
      }
    }
  }
}


@include alkaline-media-object;
