@import 'global';


@mixin alkaline-media-object {
  .media-object {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: $global-margin;
    width: 100%;

    @include breakpoint(small only) {
      flex-wrap: wrap;

      > * {
        padding: 0;
        padding-bottom: $global-padding;
        flex-basis: 100%;
        max-width: 100%;
      }
    }

    .body-section > & {
      margin-bottom: 0;
    }

    > * {
      flex: 0 1 auto;

      &:first-child {
        padding-right: $global-padding;

        @include breakpoint(medium) {
          padding-right: $global-padding * 2;
        }
      }

      &:last-child:not(:nth-child(2)) {
        padding-left: $global-padding;

        @include breakpoint(medium) {
          padding-left: $global-padding * 2;
        }
      }

      > :last-child {
        margin-bottom: 0;
      }

      &.main-section {
        flex: 1 1 0px; // sass-lint:disable-line zero-unit
      }
    }

    > figure:first-child {
      flex-shrink: 0;

      @include breakpoint(medium) {
        max-width: 50%;
      }

      // .thumbnail limits the size of the figure
      &.thumbnail {
        max-width: 3rem * $global-lineheight;
      }

      // If the figure is a link, make sure it still behaves like a block.
      a, img {
        display: block;
        max-width: 100%;
      }
    }
  }
}


@include alkaline-media-object;
