@import 'global';


@mixin alkaline-messages {

  .messages-wrapper {
    margin: 0 auto;
    max-width: $global-width;
    padding: 0 $global-margin;
  }

  .messages {
    @include callout-base;
    margin: $global-margin 0;
    max-width: $global-width;
  }

  .messages--status {
    @include callout-style($success-color);
  }

  .messages--warning {
    @include callout-style($warning-color);
  }

  .messages--error {
    @include callout-style($alert-color);
  }
}


@include alkaline-messages;
