@import 'global';


@mixin alkaline-page-title {
  .page-title {
    margin: ($global-margin * 2) auto;
    max-width: $global-width;
    width: 100%;

    .block-page-title & {
      padding: 0 $global-margin;
    }
  }
}

@include alkaline-page-title;
