@import 'alkaline';

.product-thumbs {
  a {
    display: block;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @include breakpoint(720px) {
    flex: none;
    margin: 0 48px 0 0;
    max-height: none;
    max-width: 240px;
  
    ul {
      display: flex;
      margin: 16px -4px 0;
      flex-direction: row;
      width: 100%;
    }
  
    li {
      display: block;
      height: auto;
      padding: 0 1px;
    }
  }

  @include breakpoint(960px) {
    max-width: 360px;
  }
}