@import 'global';


@mixin alkaline-title-bar {
  .title-bar {
    .region.content & {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: $global-margin auto;
      max-width: $global-width;

      a.button {
        display: block;
        margin: 0;
      }
    }

    .region.lead & {
      margin: $global-margin auto;
      max-width: $global-width;
    }
  }
}


@include alkaline-title-bar;
