@import 'global';
@import 'alkaline/theme/banner';


$banner-background: transparent;
$banner-color: $black;

$hero-banner-background: $banner-background;
$hero-banner-color: $banner-color!default;


@include alkaline-banner-theme;
@include alkaline-hero-banner-theme;
