@import 'global';
@import 'alkaline/theme/table';


/// Default color for table background.
/// @type Color
$table-background: $white;

/// Default scale for darkening the striped table rows and the table border.
/// @type Number
$table-color-scale: 5%;

/// Default style for table border.
/// @type List
$table-border: 1px solid smart-scale($table-background, $table-color-scale);

/// Default scale for darkening the table rows on hover.
/// @type Number
$table-hover-scale: 2%;

/// Default color of standard rows on hover.
/// @type List
$table-row-hover: darken($table-background, $table-hover-scale);

/// Default color of striped rows on hover.
/// @type List
$table-row-stripe-hover: darken($table-background, $table-color-scale + $table-hover-scale);

/// If `true`, tables are striped by default and an .unstriped class is created. If `false`, a .striped class is created.
/// @type Boolean
$table-is-striped: true;

/// Default background color for striped rows.
/// @type Color
$table-striped-background: smart-scale($table-background, $table-color-scale);

/// Default value for showing the stripe on rows of the tables, excluding the header and footer. If even, the even rows will have a background color. If odd, the odd rows will have a background color. If empty, or any other value, the table rows will have no striping.
/// @type Keyword
$table-stripe: even;

/// Default color for header background.
/// @type Color
$table-head-background: smart-scale($table-background, $table-color-scale / 2);

/// Default color of header rows on hover.
/// @type List
$table-head-row-hover: darken($table-head-background, $table-hover-scale);

/// Default color for footer background.
/// @type Color
$table-foot-background: smart-scale($table-background, $table-color-scale);

/// Default color of footer rows on hover.
/// @type List
$table-foot-row-hover: darken($table-foot-background, $table-hover-scale);

/// Default font color for header.
/// @type Color
$table-head-font-color: $body-font-color;

/// Default font color for footer.
/// @type Color
$table-foot-font-color: $body-font-color;


@include alkaline-table-theme;
