@import 'global';


$header-layer-background: $white;
$header-layer-color: $black;
$navbar-background: $header-layer-background;
$navbar-color: $header-layer-color;

$footer-layer-background: $light-gray;
$footer-layer-color: $black;


// Apply subtheme colours to header layer.
.layer.header {
  color: $header-layer-color;
  background-color: $header-layer-background;
  fill: $header-layer-color; // for SVG icons

  // wrapper
  > div {
    .super-region {
      &.navbar {
        background: $navbar-background;
        color: $navbar-color;
      }
    }
  }
}

.layer.footer {
  color: $footer-layer-color;
  background-color: $footer-layer-background;
}

.layer.boilerplate {
  color: $footer-layer-color;
  background-color: $footer-layer-background;
}