


.grid {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 auto; // Let the grid centre itself.
  @include xy-grid;

  &.content-width {
    max-width: $global-width;
  }

  @for $c from 1 through 12 {
    @each $name, $width in $breakpoints {
      &.#{$name}-#{$c} {
        @include breakpoint($name) {
          @include xy-grid-layout($c, 'li');
        }
      }
    }
  }

  > li {
    display: flex;
    justify-content: center;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
  }
}

// Regions use .block instead of li
.grid.region {
  @for $c from 1 through 12 {
    @each $name, $width in $breakpoints {
      &.#{$name}-#{$c} {
        @include breakpoint($name) {
          @include xy-grid-layout($c, '.block');
        }
      }
    }
  }
}


.row {
  display: flex;
  justify-content: center;
  padding: 0 0.625rem;
}
