


@mixin alkaline-grid {
  .grid {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0 auto; // Let the grid centre itself.
    @include xy-grid;

    &.content-width {
      max-width: $global-width;
    }

    @for $col-count from 1 through 12 {
      @each $name, $width in $breakpoints {
        &.#{$name}-#{$col-count} {
          @include breakpoint($name) {
            $size: percentage(1 / $col-count);
            & > li,
            & > div,
            & > .cell,
            & > .block {
              @if $col-count == 1 {
                // Cell without gutters.
                @include xy-cell($size, false, 0);
              }
              @else {
                // Cell with gutters.
                @include xy-cell($size);
              }
            }
          }
        }
      }
    }

    > li,
    > .cell {
      margin-bottom: 0.625rem;
      margin-top: 0.625rem;
    }
  }
}


// @include alkaline-grid;
