


$admin-toolbar-height: 39px;
$admin-toolbar-tray-height: 40px;

$topbar-height: 48px;
$topbar-width: map-get($breakpoints, large);
$topbar-z-index: 1000;


@mixin alkaline-page {
  .dialog-off-canvas-main-canvas {
    height: 100%;
  }

  div.page {
    height: 100%;
    padding: $topbar-height 0 0 0;

    main {
      flex-grow: 1;
    }
  }

  @include _alkaline-admin-layer;
  @include _alkaline-topbar-layer;
  @include _alkaline-lead-layer;
  @include _alkaline-main-layer;
  @include _alkaline-footer-layer;
  @include _alkaline-boilerplate-layer;
}


@mixin _alkaline-admin-layer {
  .layer.admin {
    position: relative;

    .region {
      &.content-width {
        margin: 0 auto;
        max-width: $global-width;
      }
    }
  }
}

@mixin _alkaline-topbar-layer {
  .layer.topbar {
    width: 100%;

    &.fixed {
      position: fixed;
      top: 0;
      transition: top 300ms ease;
      z-index: $topbar-z-index;

      body.toolbar-horizontal &,
      body.toolbar-vertical & {
        padding-top: 39px;
      }

      body.toolbar-horizontal.toolbar-tray-open & {
        padding-top: 79px;
      }
    }

    .container,
    .wrapper {
      display: flex;
      background: inherit;
      color: inherit;
    }

    .wrapper {
      height: $topbar-height;
      margin: 0 auto;
      max-width: $topbar-width;
    }

    .container {
      display: flex;
      background: inherit;
      flex-grow: 0;

      &.topbar-wrapper {
        height: $topbar-height;
        justify-content: space-between;
        margin: 0 auto;
        max-width: map-get($breakpoints, large);
        position: relative;
      }

      &.header {
        flex-grow: 1;
        justify-content: space-between;
      }

      &.navbar {
        // Convert to an off-canvas for small viewports.
        @include breakpoint(medium down) {
          flex-direction: column;
          position: fixed;
          right: 0;
          z-index: $topbar-z-index - 1; // under the header

          // @bug this rule causes dropdown submenus to be hidden
          // overflow-x: hidden;

          // The height of the navbar is the difference between the top bar(s) and
          // the viewport height
          $difference: $topbar-height;
          height: calc(100% - #{$difference});
          top: $difference;

          body.toolbar-horizontal &,
          body.toolbar-vertical & {
            $difference: $topbar-height + $admin-toolbar-height;;
            height: calc(100% - #{$difference});
            top: $difference;
          }

          body.toolbar-horizontal.toolbar-tray-open & {
            $difference: $topbar-height + $admin-toolbar-height + $admin-toolbar-tray-height;
            height: calc(100% - #{$difference});
            top: $difference;
          }

          & {
            width: 0;
            pointer-events: none;
          }

          &.active {
            width: 320px;
            pointer-events: all;
          }
        }
      }

      &.buttons {
        flex: none;

        @include breakpoint (large) {
          display: none;
        }
      }
    }

    .region {
      background: inherit;
      display: flex;
      flex-direction: row;
    }

    .block {
      align-items: center;
      background: inherit;
      display: flex;
      height: 100%;
    }
  }
}


@mixin _alkaline-lead-layer {
  .layer.lead {
    position: relative;

    .block {
      padding: 0 $global-margin;
    }

    &.full-page {
      height: 100%;

      .region {
        height: 100%;
      }

      .block {
        height: 100%;

        > div {
          height: 100%;
        }
      }
    }

    .region {
      &.content-width {
        margin: 0 auto;
        max-width: $global-width;
      }
    }
  }
}


@mixin _alkaline-main-layer {
  .layer.main {
    margin: 0 0 (2 * $global-margin);

    .block {
      padding: 0 $global-margin;
    }

    .page-title-block {
      margin-top: (3 * $global-margin);
      margin-bottom: (3 * $global-margin);
    }
  }

  #main-content {
    position: relative;
    top: -$topbar-height;

    body.toolbar-horizontal &,
    body.toolbar-vertical & {
      top: -($topbar-height + 39px);
    }

    body.toolbar-horizontal.toolbar-tray-open & {
      top: -($topbar-height + 79px);
    }
  }
}


@mixin _alkaline-footer-layer {
  .layer.footer {
    margin: $global-margin 0 0 0;
    padding: 0 $global-margin;

    > div {
      margin: 0 auto;
      max-width: map-get($breakpoints, large);
    }

    .region {
      justify-content: space-between;
    }

    .block {
      h2 {
        margin: $global-margin 0;
      }
    }
  }
}


@mixin _alkaline-boilerplate-layer {
  .layer.boilerplate {
    padding: (2 * $global-margin) 0 $global-margin;

    > div {
      margin: 0 auto;
      max-width: map-get($breakpoints, large);
    }

    .region {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .block {
      // @todo move this to component stylesheet
      text-align: center;
      font-size: 0.85em;
      font-weight: bold;
      padding: 0 $global-margin;
      text-transform: uppercase;
    }
  }
}


// @include alkaline-page;
