
  <div id="footer" class="layer footer">
    <div class="region footer">
      {{ page.footer }}
    </div>
  </div>
  
  <div id="boilerplate" class="layer boilerplate">
    <div class="region boilerplate">
      {{ page.boilerplate }}
    </div>
  </div>