
{% if page.footer %}
  <div id="footer" class="layer footer">
    <div>
      <div class="region footer">
        {{ page.footer }}
      </div>
    </div>
  </div>
{% endif %}

{% if page.boilerplate %}
  <div id="boilerplate" class="layer boilerplate">
    <div>
      <div class="region boilerplate">
        {{ page.boilerplate }}
      </div>
    </div>
  </div>
{% endif %}
