  <div class="layer header fixed" role="banner">
    <div>
  
      <div class="region header">
        {{ page.header }}
      </div>
    
      <div id="navbar" class="region navbar" data-toggler=".active">
        {{ page.navbar }}
      </div>

      <div class="region buttons">
        <div class="block">
          <button id="nav-button" data-toggle="navbar">
            <svg class="icon">
              <use xlink:href="#bars" />
            </svg>
          </button>
        </div>
      </div>

    </div>
  </div>