<div id="topbar" class="layer topbar fixed" role="banner">
  <div class="wrapper">

    {% if page.header_left or page.header_right %}
    <div class="container header">

      {% if page.header_left %}
      <div class="region header header-left">
        {{ page.header_left }}
      </div>
      {% endif %}

      {% if page.header_right %}
      <div class="region header header-right">
        {{ page.header_right }}
      </div>
      {% endif %}

    </div>
    {% endif %}

    {% if page.navbar_top or page.navbar_bottom %}
    <div id="navbar" class="off-canvas" data-toggler=".active">
      <div class="container navbar">

        {% if page.navbar_top %}
        <div class="region navbar navbar-top">
          {{ page.navbar_top }}
        </div>
        {% endif %}

        {% if page.navbar_bottom %}
        <div class="region navbar navbar-bottom">
          {{ page.navbar_bottom }}
        </div>
        {% endif %}

      </div>
    </div>

    <div class="container buttons">
      <div class="region buttons">
        <div class="block">
          <button id="nav-button" data-toggle="navbar">
            <svg class="icon">
              <use xlink:href="#bars" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</div>
