{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override to display a contact details block.
 */
#}
{% block content %}
  {{ attach_library('alkaline/location') }}
  {% if content %}
    <div class="location">
      <section>
        {{ content|without('field_map') }}
      </section>
      {% if content.field_map %}
        <section>
          {{ content.field_map }}
        </section>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
