{#
/**
 * @file
 * Theme override to display a block.
 */
#}
{{ attach_library('alkaline/page_title') }}
<header{{ attributes.addClass("block block-page-title") }}>
  {% block content %}
    <div class="title-bar">
      {{ content }}
    </div>
  {% endblock %}
</header>
