{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override to display a block.
 *
 * The `hidden` flag is raised for routes where the page title is provided
 * by another block e.g. a node display.
 */
#}
{% block content %}
  {% if not hidden %}
    {{ attach_library('alkaline/page_title') }}
    <header class="page-title-block">
      <div class="title-bar">
        {{ content }}
      </div>
    </header>
  {% endif %}
{% endblock %}
