{#
/**
 * @file
 * Theme override to display a block.
 *
 * The `hidden` flag is raised for routes where the page title is provided
 * by another block e.g. a node display.
 */
#}
{% if not hidden %}
  {{ attach_library('alkaline/page_title') }}
  <header{{ attributes.addClass("block block-page-title") }}>
    <div class="title-bar">
      {{ content }}
    </div>
  </header>
{% endif %}
