{#
/**
 * @file
 * Theme override for messages block.
 *
 * @todo Consider removing once theme no longer subclasses classy.
#}
<div{{ attributes }}>
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
