{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block--callout',
  ]
%}
{{ attach_library('alkaline/banner') }}
<div{{ attributes.addClass(classes) }}>
  <figure class="banner callout">
    <figcaption>
      {% block content %}
        {{ content }}
      {% endblock %}
    </figcaption>
  </figure>
</div>

