{% extends "block.html.twig" %}
{#
/**
 * @file
 * Abstract template for blocks that are rendered as articles.
 */
#}
{% block content %}
  {{ attach_library('alkaline/article') }}
  <article>
    <div class="body">
      {{ content }}
    </div>
  </article>
{% endblock %}
