{#
/**
 * @file
 * Theme override to display a block.
 */
#}
{{ attach_library('alkaline/page_title') }}
<div{{ attributes.addClass("block") }}>
  {% block content %}
    <header class="row">
      <div class="title-bar">
        {{ content }}
      </div>
    </header>
  {% endblock %}
</div>
