{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override to display a call-to-action block.
 */
#}
{% block content %}
  {{ attach_library('alkaline/call_to_action') }}
  <div class="call-to-action">
    {{ content }}
  </div>
{% endblock %}
