{#
/**
 * @file
 * Theme override to display a carousel block.
 *
 * @deprecated Replaced by slider, which doesn't require a wrapper.
 */
#}
<div{{ attributes.addClass('block') }}>
  <div class="carousel">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
