{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override to display a carousel block.
 *
 * @deprecated Replaced by slider, which doesn't require a wrapper.
 */
#}
{% block content %}
  <div class="carousel">
    {{ content }}
  </div>
{% endblock %}
