{#
/**
 * @file
 * Theme override to display a block.
 */
#}
{{ attach_library('alkaline/page_title') }}
<div{{ attributes.addClass("block") }}>
  {% block content %}
    <div class="row">
      <header class="title-bar">
        {{ content }}
      </header>
    </div>
  {% endblock %}
</div>
