{#
/**
 * @file
 * Theme override to display a block.
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <div class="title-bar">
      {{ content }}
    </div>
  {% endblock %}
</div>
