


$article-emphasis-background: $black !default;
$article-emphasis-background-image: none !default;
$article-emphasis-color: $white !default;


@mixin alkaline-article-theme {
  article {
    .section {
      &.emphasised {
        background-color: $article-emphasis-background;
        background-image: $article-emphasis-background-image;
        color: $article-emphasis-color;
      }
    }
  }
}


