


$banner-background: transparent;
$banner-color: $black;

$hero-banner-background: $banner-background;
$hero-banner-color: $banner-color!default;


@mixin alkaline-banner-theme {
  .banner {
    background-color: $banner-background;
    color: $banner-color;
  }
}


@mixin alkaline-hero-banner-theme {
  .banner.hero {
    background-color: $hero-banner-background;
    color: $hero-banner-color;
  }
}



