


$hero-banner-background: transparent;
$hero-banner-color: inherit;


@mixin alkaline-banner-theme {
  .banner {
    &.hero {
      background-color: $hero-banner-background;
      color: $hero-banner-color;
    }
  }
}


// @include alkaline-banner-theme;
