


$menu-button-font-family: inherit;
$menu-button-background: inherit;
$menu-button-color: inherit;
$menu-item-color-active: $white;
$menu-item-background-active: get-color(primary);

$dropdownmenu-active-button-background: inherit;
$dropdownmenu-active-button-color: inherit;
$dropdownmenu-arrow-color: $white;
$dropdownmenu-arrow-size: 6px;
$dropdownmenu-arrow-padding: 1.5rem;


@mixin _alkaline-dropdown-menu-theme-direction($dir: horizontal) {
  > li {
    @if $dir == horizontal {
      &.is-dropdown-submenu-parent > a::after {
        @include css-triangle($dropdownmenu-arrow-size, $dropdownmenu-arrow-color, down);
      }
    }
    @else if $dir == vertical {
      @include zf-dropdown-left-right-arrows;
    }
  }
}


@mixin alkaline-menu-theme {

  ul.menu {
    // @todo remove this !important decorator
    background: inherit !important;

    li {
      background: inherit;
    }

    a {
      background: $menu-button-background;
      color: $menu-button-color;
      font-family: $menu-button-font-family;
    }

    // Active state
    .is-active > a {
      background: $menu-item-background-active;
      color: $menu-item-color-active;
    }
  }
}


@mixin alkaline-drilldown-menu-theme {
  .is-drilldown {
    background: inherit;
  }
}


@mixin alkaline-share-menu-theme {
  .menu.social-share {
    li {
      @include brand-colors(background-color);
      fill: $white;
    }
  }
}


@mixin alkaline-dropdown-menu-theme {
  .is-dropdown {
    background: inherit;
  }

  ul.menu.dropdown {
    li {
      &.is-active {
        a {
          background: $dropdownmenu-active-button-background;
          color: $dropdownmenu-active-button-color;
        }
      }
    }

    &.horizontal {
      @include _alkaline-dropdown-menu-theme-direction(vertical);
    }

    &.vertical {
      @include _alkaline-dropdown-menu-theme-direction(vertical);
    }

    @each $size in $breakpoint-classes {
      @if $size != $-zf-zero-breakpoint {
        @include breakpoint($size) {
          &.#{$size}-horizontal {
            @include dropdown-menu-direction(horizontal);
          }

          &.#{$size}-vertical {
            @include dropdown-menu-direction(vertical);
          }
        }
      }
    }
  }
}


// @include alkaline-menu-theme;
// @include alkaline-drilldown-menu-theme;
// @include alkaline-dropdown-menu-theme;
// @include alkaline-share-menu-theme;
