{#
/**
 * @file
 * Theme override for the Body field.
 *
 * The body is rendered without any wrapper because all of its content can be
 * assumed to be block elements.
 */
#}
<div class="body">
{% for item in items %}
  <div class="section">
    <div class="text">
      {{ item.content }}
    </div>
  </div>
{% endfor %}
</div>
