{#
/**
 * @file
 * Theme override for a Commerce Product image field.
 *
 * Images are rendered as a list of thumbnails.
 *
 * The Classy classes have been preserved so that AJAX can update this field
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
<figure class="product-thumbs">
  <ul{{ attributes.addClass(classes, 'field__items') }}>
    {% for item in items %}
      <li>
        <picture{{ attributes.addClass('field__item') }}>
          {{ item.content }}
        </picture>
      </li>
    {% endfor %}
  </ul>
</figure>