{#
/**
 * @file
 * Theme override for links in a Callout.
 *
 * Links are rendered as a group of buttons.
 */
#}
<div class="button-group">
  {% for item in items %}
    <a href="{{ item.url }}" class="button">
      <span>{{ item.title }}</span>
    </a>
  {% endfor %}
</div>
