{#
/**
 * @file
 * Theme override for a Commerce Price field
 *
 * The Price value is wrapped in a paragraph and a strong element so that it is
 * given margins and a bold font weight.
 *
 * The Classy classes have been preserved so that AJAX can update this field
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{% for item in items %}
  <div{{ attributes.addClass(classes, 'field__item') }}>
    <p><strong>{{ item.content }}</strong></p>
  </div>
{% endfor %}
