{#
/**
 * @file
 * Theme override for document file field.
 *
 * @todo Replace with a less specific template.
 */
#}
{% for item in items %}
  <div{{ attributes }}>
    <a role="button" href="{{ item.content }}">
      <svg class="icon">
        <use xlink:href="#download" />
      </svg>
      <span>Download Document</span>
    </a>
  </div>
{% endfor %}
