{#
/**
 * @file
 * Theme override for collage image field.
 *
 * @deprecated
 *
 * Future sites should use pictures in grids, and add negative space in images
 * to create a spaced-out collage of images.
 */
#}
{%
  set classes = [
    'grid',
    'small-2',
    'medium-3',
    'large-4'
  ]
%}
{{ attach_library('alkaline/logo_collage') }}
<ul {{ attributes.addClass(classes) }}>
  {% for item in items %}
  <li {{ item.attributes }}>
    {{ item.content }}
  </li>
  {% endfor %}
</ul>
