{#
/**
 * @file
 * Theme override for the lead section of an article
 *
 * Since this field is input as plain text, the item content is wrapped in a
 * paragraph element.
 *
 * @todo Move the paragraph wrapper logic to a preprocessor.
 */
#}
{% for item in items %}
  <div>
    <p>{{ item.content }}</p>
  </div>
{% endfor %}
