ul.action-links {
  margin: 24px 0; }
  ul.action-links::before, ul.action-links::after {
    display: table;
    content: ' ';
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  ul.action-links::after {
    clear: both; }
  ul.action-links li {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0; }
    ul.action-links li:not(:first-of-type) {
      margin: 0 0 0 16px; }
    ul.action-links li a {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 1rem 0;
      font-family: inherit;
      padding: 0.85em 1em;
      -webkit-appearance: none;
      border: 1px solid transparent;
      border-radius: 2px;
      -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
      transition: background-color 0.25s ease-out, color 0.25s ease-out;
      font-size: 0.9rem;
      line-height: 1;
      text-align: center;
      cursor: pointer;
      background-color: #1779ba;
      color: #fefefe;
      padding: 12px;
      width: auto; }
      [data-whatinput='mouse'] ul.action-links li a {
        outline: 0; }
      ul.action-links li a:hover, ul.action-links li a:focus {
        background-color: #14679e;
        color: #fefefe; }
