main article {
  margin: 0 0 1rem 0;
  padding: 0; }
  main article .lead-section {
    margin: 0 auto;
    max-width: 60rem; }
  main article .body-section {
    margin: 2rem auto;
    max-width: 60rem; }
  main article .aside .body-section {
    padding: 1rem; }
  main article .image figcaption {
    font-size: 1rem;
    padding: 1rem; }
  main article .text-formatted {
    width: 100%; }
    main article .text-formatted img {
      margin-bottom: 1rem; }
  main article footer {
    margin: 0 auto;
    max-width: 60rem; }
    main article footer.media-object figure {
      height: 3em; }
      main article footer.media-object figure img {
        height: 100%;
        width: auto; }
    main article footer.media-object span {
      display: block; }
    main article footer address {
      margin: 1rem 0; }
  main article iframe {
    display: block;
    margin: 0 auto; }
  main article.contact-details span {
    display: inline-block;
    vertical-align: top; }
