.backdrop {
  position: relative;
  margin: 0 -1rem; }
  .backdrop:before {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }
  .backdrop > div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 1rem; }
