.banner {
  position: relative;
  position: relative;
  margin: 0 -1rem;
  padding: 3rem 1rem; }
  .banner:after {
    background-image: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1; }
  @media print, screen and (min-width: 45em) {
    .banner {
      padding: 6rem 1rem; } }
  .banner > div {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 60rem;
    text-align: center;
    margin: 0 auto;
    max-width: 60rem;
    width: 100%; }
  .banner h1, .banner h2 {
    line-height: 1.2em; }
  .banner h2 {
    line-height: 1.2em;
    font-size: 1.5rem; }
    @media print, screen and (min-width: 45em) {
      .banner h2 {
        font-size: 1.75rem; } }
    .banner h2 a {
      color: inherit; }
  .banner .button {
    font-weight: bold;
    min-width: 8em; }
    @media print, screen and (min-width: 45em) {
      .banner .button {
        font-size: 1.2em; } }
