.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  [data-whatinput='mouse'] .button {
    outline: 0; }
  .button:hover, .button:focus {
    background-color: #14679e;
    color: #fefefe; }
  .button svg.icon {
    display: block;
    height: 1em;
    width: 1em; }
    .button svg.icon + span {
      display: block;
      margin-left: 0.5em;
      height: 1em;
      line-height: 1em; }
  .button[data-drupal-selector="edit-preview"], .button[data-drupal-selector="edit-preview"]:hover, .button[data-drupal-selector="edit-preview"]:focus {
    background-color: transparent; }
  .button[data-drupal-selector="edit-preview"].disabled, .button[data-drupal-selector="edit-preview"].disabled:hover, .button[data-drupal-selector="edit-preview"].disabled:focus, .button[data-drupal-selector="edit-preview"][disabled], .button[data-drupal-selector="edit-preview"][disabled]:hover, .button[data-drupal-selector="edit-preview"][disabled]:focus {
    background-color: transparent; }
  .button.hollow, .button.hollow:hover, .button.hollow:focus {
    background-color: transparent; }
  .button.hollow.disabled, .button.hollow.disabled:hover, .button.hollow.disabled:focus, .button.hollow[disabled], .button.hollow[disabled]:hover, .button.hollow[disabled]:focus {
    background-color: transparent; }
  .button.large {
    font-size: 120%; }
  .cell > div > .button {
    width: 100%; }

.button-group {
  margin-bottom: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  .button-group::before, .button-group::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }
  .button-group::after {
    clear: both; }
  .button-group .button {
    margin: 0;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }
    .button-group .button:last-child {
      margin-right: 0; }
