figure.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%; }
  figure.card picture {
    display: block;
    flex: none; }
    figure.card picture a {
      display: block; }
    figure.card picture img {
      display: block;
      width: 100%;
      height: auto; }
  figure.card > a {
    display: block;
    margin: 0 auto 24px;
    max-width: 240px; }
  figure.card figcaption {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between; }
    figure.card figcaption h2 {
      width: 100%;
      font-size: 1.5em;
      margin: 0.5rem 0; }
      figure.card figcaption h2 a {
        color: inherit; }
  @media screen and (min-width: 60em) {
    figure.card > a {
      display: block;
      margin: 0 24px 0 0;
      width: 240px; } }
