.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%; }
  .card > figure {
    flex: none; }
    .card > figure picture {
      flex: none; }
      .card > figure picture a {
        display: block; }
      .card > figure picture img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        height: auto; }
    .card > figure figcaption {
      display: none; }
  .card > section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0; }
    .card > section h3 {
      width: 100%;
      font-size: 1.25em; }
      .card > section h3 a {
        color: inherit; }
  @media print, screen and (min-width: 45em) {
    .card.wide {
      flex-direction: row; }
      .card.wide > section {
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0 0 0 1rem; } }
