figure.hero-banner {
  position: relative; }
  figure.hero-banner:after {
    background-image: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1; }
  figure.hero-banner:after {
    opacity: 0.25; }
  figure.hero-banner > figcaption {
    margin: 0 auto;
    max-width: 60rem;
    padding: 48px 24px 48px; }
    figure.hero-banner > figcaption > div:first-of-type {
      color: #fefefe;
      color: #0a0a0a;
      font-size: 150%; }
    @media print, screen and (min-width: 45em) {
      figure.hero-banner > figcaption {
        padding: 144px 96px 96px; }
        figure.hero-banner > figcaption > div:first-of-type {
          font-size: 200%; } }
    figure.hero-banner > figcaption > div:last-of-type {
      margin-bottom: 1rem;
      display: flex;
      flex-wrap: nowrap;
      align-items: stretch;
      justify-content: center;
      margin: 0; }
      figure.hero-banner > figcaption > div:last-of-type::before, figure.hero-banner > figcaption > div:last-of-type::after {
        display: table;
        content: ' ';
        flex-basis: 0;
        order: 1; }
      figure.hero-banner > figcaption > div:last-of-type::after {
        clear: both; }
      figure.hero-banner > figcaption > div:last-of-type div {
        margin: 0;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        flex: 0 0 auto; }
        figure.hero-banner > figcaption > div:last-of-type div:last-child {
          margin-right: 0; }
      figure.hero-banner > figcaption > div:last-of-type a {
        font-weight: bold;
        font-size: 120%;
        margin: 0;
        min-width: 8em; }
