.location {
  margin: 1rem auto;
  max-width: 60rem; }
  .layer.header .location {
    margin: 0; }
  @media print, screen and (min-width: 45em) {
    .location {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .location > section:first-child {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        padding-right: 3rem; }
      .location > section:last-child {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; } }
