nav.local-tasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0; }
  nav.local-tasks ul {
    margin: 0;
    border: 1px solid #e6e6e6;
    background: #fefefe;
    list-style-type: none; }
    nav.local-tasks ul::before, nav.local-tasks ul::after {
      display: table;
      content: ' ';
      flex-basis: 0;
      order: 1; }
    nav.local-tasks ul::after {
      clear: both; }
  nav.local-tasks li {
    float: left; }
    nav.local-tasks li > a {
      display: block;
      padding: 1.25rem 1.5rem;
      font-size: 0.75rem;
      line-height: 1;
      color: #1779ba; }
      nav.local-tasks li > a:hover {
        background: #fefefe;
        color: #1468a0; }
      nav.local-tasks li > a:focus, nav.local-tasks li > a[aria-selected='true'] {
        background: #e6e6e6;
        color: #1779ba; }
    nav.local-tasks li > a.is-active {
      background: #e6e6e6;
      color: #1779ba; }
