.media-object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
  width: 100%; }
  @media screen and (max-width: 44.9375em) {
    .media-object {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .media-object > * {
        padding: 0;
        padding-bottom: 1rem;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%; } }
  .media-object > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
    .media-object > *:first-child {
      padding-left: 1rem; }
      @media print, screen and (min-width: 45em) {
        .media-object > *:first-child {
          padding-left: 2rem; } }
    .media-object > *:last-child:not(:nth-child(2)) {
      padding-right: 1rem; }
      @media print, screen and (min-width: 45em) {
        .media-object > *:last-child:not(:nth-child(2)) {
          padding-right: 2rem; } }
    .media-object > * > :last-child {
      margin-bottom: 0; }
    .media-object > *.main-section {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
      flex: 1 1 0px; }
  .media-object > figure:first-child {
    max-width: 30vw; }
    @media print, screen and (min-width: 45em) {
      .media-object > figure:first-child {
        max-width: 50%; } }
    .media-object > figure:first-child.thumbnail {
      max-width: 4.5rem; }
    .media-object > figure:first-child a, .media-object > figure:first-child img {
      display: block;
      max-width: 100%; }
