ul.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .layer.topbar ul.menu {
    height: 100%; }
    .layer.topbar ul.menu:not(.drilldown):not(.dropdown) ul {
      display: none; }
  @media screen and (max-width: 67.4375em) {
    .region.navbar ul.menu {
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      height: auto; } }
  .region.footer ul.menu {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .region.footer ul.menu a {
      padding-left: 0;
      padding-right: 0; }
  ul.menu, ul.menu.horizontal {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  ul.menu.vertical {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  @media print, screen and (min-width: 45em) {
    ul.menu.medium-horizontal {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
    ul.menu.medium-vertical {
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media print, screen and (min-width: 67.5em) {
    ul.menu.large-horizontal {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
    ul.menu.large-vertical {
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  ul.menu.align-left {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  ul.menu.align-right li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    ul.menu.align-right li .submenu li {
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
  ul.menu.align-right.vertical li {
    display: block;
    text-align: right; }
    ul.menu.align-right.vertical li .submenu li {
      text-align: right; }
  ul.menu.align-center li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    ul.menu.align-center li .submenu li {
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
  [data-whatinput='mouse'] ul.menu li {
    outline: 0; }
  ul.menu a {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    line-height: 1;
    margin-bottom: 0;
    padding: 0.7rem 1rem;
    text-decoration: none; }
    ul.menu a svg.icon {
      display: block;
      height: 1.5em;
      width: 1.5em; }
      ul.menu a svg.icon + span {
        display: inline-block;
        margin-left: 0.5em; }
    ul.menu a span {
      display: block;
      line-height: 1.5em; }
    .layer.topbar ul.menu a {
      font-size: 0.875em; }
      @media screen and (max-width: 44.9375em) {
        .layer.topbar ul.menu a svg.icon + span {
          display: none; } }

.no-js [data-responsive-menu] ul {
  display: none; }

.is-drilldown {
  position: relative;
  overflow: hidden; }
  .is-drilldown li {
    display: block; }
  .is-drilldown.animate-height {
    transition: height 0.5s; }

.drilldown a {
  padding: 0.7rem 1rem; }

.drilldown .is-drilldown-submenu {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: -1;
  width: 100%;
  transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
  transition: transform 0.15s linear, -webkit-transform 0.15s linear; }
  .drilldown .is-drilldown-submenu.is-active {
    z-index: 1;
    display: block;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  .drilldown .is-drilldown-submenu.is-closing {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  .drilldown .is-drilldown-submenu a {
    padding: 0.7rem 1rem; }

.drilldown .drilldown-submenu-cover-previous {
  min-height: 100%; }

ul.menu.dropdown > li.opens-left > .is-dropdown-submenu {
  top: 100%;
  right: 0;
  left: auto; }

ul.menu.dropdown > li.opens-right > .is-dropdown-submenu {
  top: 100%;
  right: auto;
  left: 0; }

ul.menu.dropdown a {
  padding: 0.7rem 1rem; }
  [data-whatinput='mouse'] ul.menu.dropdown a {
    outline: 0; }

.no-js ul.menu.dropdown ul {
  display: none; }

ul.menu.dropdown.vertical > li .is-dropdown-submenu {
  top: 0; }

ul.menu.dropdown.vertical > li.opens-left > .is-dropdown-submenu {
  right: 100%;
  left: auto;
  top: 0; }

ul.menu.dropdown.vertical > li.opens-right > .is-dropdown-submenu {
  right: auto;
  left: 100%; }

@media print, screen and (min-width: 45em) {
  ul.menu.dropdown.medium-horizontal > li.opens-left > .is-dropdown-submenu {
    top: 100%;
    right: 0;
    left: auto; }
  ul.menu.dropdown.medium-horizontal > li.opens-right > .is-dropdown-submenu {
    top: 100%;
    right: auto;
    left: 0; }
  ul.menu.dropdown.medium-vertical > li .is-dropdown-submenu {
    top: 0; }
  ul.menu.dropdown.medium-vertical > li.opens-left > .is-dropdown-submenu {
    right: 100%;
    left: auto;
    top: 0; }
  ul.menu.dropdown.medium-vertical > li.opens-right > .is-dropdown-submenu {
    right: auto;
    left: 100%; } }

@media print, screen and (min-width: 67.5em) {
  ul.menu.dropdown.large-horizontal > li.opens-left > .is-dropdown-submenu {
    top: 100%;
    right: 0;
    left: auto; }
  ul.menu.dropdown.large-horizontal > li.opens-right > .is-dropdown-submenu {
    top: 100%;
    right: auto;
    left: 0; }
  ul.menu.dropdown.large-vertical > li .is-dropdown-submenu {
    top: 0; }
  ul.menu.dropdown.large-vertical > li.opens-left > .is-dropdown-submenu {
    right: 100%;
    left: auto;
    top: 0; }
  ul.menu.dropdown.large-vertical > li.opens-right > .is-dropdown-submenu {
    right: auto;
    left: 100%; } }

ul.menu.dropdown.align-right .is-dropdown-submenu.first-sub {
  top: 100%;
  right: 0;
  left: auto; }

.is-dropdown-menu.vertical {
  width: 100px; }
  .is-dropdown-menu.vertical.align-right {
    float: right; }

.is-dropdown-submenu-parent {
  position: relative; }
  .is-dropdown-submenu-parent.opens-inner > .is-dropdown-submenu {
    top: 100%;
    left: auto; }
  .is-dropdown-submenu-parent.opens-left > .is-dropdown-submenu {
    right: 100%;
    left: auto; }
  .is-dropdown-submenu-parent.opens-right > .is-dropdown-submenu {
    right: auto;
    left: 100%; }

.is-dropdown-submenu {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
  display: none;
  min-width: 200px; }
  .dropdown .is-dropdown-submenu a {
    padding: 0.7rem 1rem; }
  .is-dropdown-submenu > li {
    width: 100%; }
  .is-dropdown-submenu.js-dropdown-active {
    display: block; }

button[data-toggle="navbar"] {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  line-height: 1;
  margin-bottom: 0;
  padding: 0.7rem 1rem;
  text-decoration: none;
  height: 100%;
  line-height: 1;
  text-decoration: none;
  display: block;
  padding: 0.7rem 1rem;
  cursor: pointer; }
  button[data-toggle="navbar"] svg.icon {
    display: block;
    height: 1.5em;
    width: 1.5em; }
    button[data-toggle="navbar"] svg.icon + span {
      display: inline-block;
      margin-left: 0.5em; }
  button[data-toggle="navbar"] span {
    display: block;
    line-height: 1.5em; }
  .layer.topbar button[data-toggle="navbar"] {
    font-size: 0.875em; }
    @media screen and (max-width: 44.9375em) {
      .layer.topbar button[data-toggle="navbar"] svg.icon + span {
        display: none; } }
  @media print, screen and (min-width: 67.5em) {
    button[data-toggle="navbar"] {
      display: none; } }

ul.menu.social-share {
  margin-bottom: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  ul.menu.social-share::before, ul.menu.social-share::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }
  ul.menu.social-share::after {
    clear: both; }
  ul.menu.social-share li {
    margin: 0;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }
    ul.menu.social-share li:last-child {
      margin-right: 0; }
  ul.menu.social-share a {
    height: 2em;
    width: 2em;
    padding: 20%; }
    ul.menu.social-share a svg.icon {
      height: 100%;
      width: 100%; }
      ul.menu.social-share a svg.icon + span {
        display: none; }
