.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product .field--name-price p {
    margin: 0 0 16px; }
  .product .field--name-price strong {
    font-size: 140%;
    font-weight: bold; }
  .product .field--name-variations {
    margin: 16px 0; }
    .product .field--name-variations::before, .product .field--name-variations::after {
      display: table;
      content: ' ';
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .product .field--name-variations::after {
      clear: both; }
    .product .field--name-variations form {
      float: left;
      min-width: 200px; }
