main table,
.layer.footer table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 2px; }
  @media screen and (max-width: 67.4375em) {
    main table.stack tr,
    main table.stack th,
    main table.stack td,
    .layer.footer table.stack tr,
    .layer.footer table.stack th,
    .layer.footer table.stack td {
      display: block; }
    main table.stack td,
    .layer.footer table.stack td {
      border-top: 0; } }
  main table.scroll,
  .layer.footer table.scroll {
    display: block;
    width: 100%;
    overflow-x: auto; }

main tbody th:first-child, main tbody td:first-child,
.layer.footer tbody th:first-child,
.layer.footer tbody td:first-child {
  text-align: left; }

main tbody th:last-child:not(:first-child), main tbody td:last-child:not(:first-child),
.layer.footer tbody th:last-child:not(:first-child),
.layer.footer tbody td:last-child:not(:first-child) {
  text-align: right; }

main th, main td,
.layer.footer th,
.layer.footer td {
  border: none;
  padding: 0.5rem 0.625rem 0.625rem; }

main caption,
.layer.footer caption {
  padding: 0.5rem 0.625rem 0.625rem; }
