.text-formatted h1.rtecenter, .text-formatted h2.rtecenter, .text-formatted h3.rtecenter, .text-formatted h4.rtecenter, .text-formatted h5.rtecenter, .text-formatted h6.rtecenter,
.text-formatted p.rtecenter, .text-formatted li.rtecenter, .text-formatted blockquote.rtecenter,
.text-formatted ul.rtecenter, .text-formatted ol.rtecenter, .text-formatted dl.rtecenter, .text-formatted table.rtecenter,
.text-formatted figure.rtecenter, .text-formatted img.rtecenter {
  text-align: center; }

.text-formatted h1.rtejustify, .text-formatted h2.rtejustify, .text-formatted h3.rtejustify, .text-formatted h4.rtejustify, .text-formatted h5.rtejustify, .text-formatted h6.rtejustify,
.text-formatted p.rtejustify, .text-formatted li.rtejustify, .text-formatted blockquote.rtejustify,
.text-formatted ul.rtejustify, .text-formatted ol.rtejustify, .text-formatted dl.rtejustify, .text-formatted table.rtejustify,
.text-formatted figure.rtejustify, .text-formatted img.rtejustify {
  text-align: justify; }

.text-formatted h1.rteright, .text-formatted h2.rteright, .text-formatted h3.rteright, .text-formatted h4.rteright, .text-formatted h5.rteright, .text-formatted h6.rteright,
.text-formatted p.rteright, .text-formatted li.rteright, .text-formatted blockquote.rteright,
.text-formatted ul.rteright, .text-formatted ol.rteright, .text-formatted dl.rteright, .text-formatted table.rteright,
.text-formatted figure.rteright, .text-formatted img.rteright {
  text-align: right; }
