.title-bar {
  width: 100%;
  margin: 0 auto;
  max-width: 60rem; }
  .region.content .title-bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
    .region.content .title-bar a.button {
      display: block;
      margin: 0; }
  .title-bar h1, .title-bar h2, .title-bar h3, .title-bar h4, .title-bar h5, .title-bar h6 {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
