
/// @file
/// Supplemetary mixins available to all components

@mixin alkaline-icons($size) {
  .icon {
    height: $size;
    width: $size;
  }
}


@mixin alkaline-shadow-button($color: rgba(0,0,0,0.2)) {
  @include button;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border: none;
}


@mixin alkaline-highlighted-text($color: rgba(33, 33, 33, .85)) {
  background-color: $color;
  display: inline;
  padding: 0.1em 0;
  box-shadow: 0.2em 0 0 $color, -0.2em 0 0 $color;
  box-decoration-break: clone;
}


@mixin alkaline-shadow-text {
  text-shadow: 0em 0.1em 0.1em $black;
}


@mixin tda-background-element($imageUrl: none) {
  position: relative;

  &:after {
    @if imageUrl != none{
      background-image: $imageUrl;
    }
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
}


@mixin tda-background-image($imageUrl: none) {
  position: relative;

  &:after {
    @include tda-background-element($imageUrl);
    height: 100%;
    position: absolute;
  }
}
