<div class="page">

{% block topbar %}
  {% include '@alkaline/layout/includes/topbar.html.twig' %}
{% endblock %}

{% block main %}
  {% include '@alkaline/layout/includes/main.html.twig' %}
{% endblock %}

{% block footer %}
  {% include '@alkaline/layout/includes/footer.html.twig' %}
{% endblock %}

</div>
