<div class="page">

  {% include '@alkaline/layout/includes/topbar.html.twig' %}
  {% include '@alkaline/layout/includes/main.html.twig' %}
  {% include '@alkaline/layout/includes/footer.html.twig' %}

</div>
